#encoding UTF-8
#attr $page = 'people/alumni'
#attr $trail = ['<a href="people.html">People</a>', '<a href="alumni.html">Alumni</a>']
#attr $title = 'SFU Cosmology Alumni'
#def content
    <BLOCKQUOTE>
    <H2 ALIGN=center>Postdocs:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Interests</TH>
            <TH WIDTH="10%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">Dates</TH>
            <TH WIDTH="20%" ALIGN="left">Now At</TH>
        </TR>
        <TR>
            <TH>Aaron Berndsen</TH>
            <TD>brane gas cosmology, brane world scenarios</TD>
            <TD>NSERC PDF</TD>
            <TD>2007 - 2009</TD>
            <TD>-> Manulife (senior)</TD>
        </TR>
        <TR>
            <TH>Gong-Bo Zhao</TH>
            <TD>structure formation, dark energy tests</TD>
            <TD>PDF</TD>
            <TD>2007 - 2009</TD>
            <TD>-> NAOC, Beijing (faculty)</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Graduate Students:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Supervisor</TH>
            <TH WIDTH="10%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">Dates</TH>
            <TH WIDTH="20%" ALIGN="left">Now At</TH>
        </TR>
        <TR>
            <TH>Simerdeep Arora</TH>
            <TD>Levon Pogosian</TD>
            <TD>MSc</TD>
            <TD>2015 - ...</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>Tomas Galvez</TH>
            <TD>Andrei Frolov</TD>
            <TD>PhD</TD>
            <TD>2014 - 2019</TD>
            <TD>-> Ole Miss (postdoc)</TD>
        </TR>
        <TR>
            <TH>Jun-Qi Guo</TH>
            <TD>Andrei Frolov</TD>
            <TD>PhD</TD>
            <TD>2008 - 2014</TD>
            <TD>-> U of Jinan (faculty) </TD>
        </TR>
        <TR>
            <TH>Alireza Hojjati</TH>
            <TD>Levon Pogosian</TD>
            <TD>PhD</TD>
            <TD>2006 - 2011</TD>
            <TD>-> Manulife (senior)</TD>
        </TR>
        <TR>
            <TH>Hasmik Hayrapetyan</TH>
            <TD>Levon Pogosian</TD>
            <TD>MSc</TD>
            <TD>2008 - 2011</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>Yang Liu</TH>
            <TD>Levon Pogosian</TD>
            <TD>MSc</TD>
            <TD>2011 - 2013</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>Aaron Plahn</TH>
            <TD>Levon Pogosian</TD>
            <TD>MSc</TD>
            <TD>2012 - 2014</TD>
            <TD>-> software developer</TD>
        </TR>
        <TR>
            <TH>Cheng Tang</TH>
            <TD>Andrei Frolov</TD>
            <TD>MSc</TD>
            <TD>2014 - 2017</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>Shaojie Yin</TH>
            <TD>Andrei Frolov</TD>
            <TD>MSc</TD>
            <TD>2012 - 2015</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>Alex Zucca</TH>
            <TD>Levon Pogosian</TD>
            <TD>PhD</TD>
            <TD>2014 - 2019</TD>
            <TD>-> D-Wave (postdoc)</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Undergrad Students:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Supervisor</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="20%" ALIGN="left">Now At</TH>
        </TR>
        <TR>
            <TH>Morgan Bennett</TH>
            <TD>Andrei Frolov</TD>
            <TD>BSc Honors</TD>
            <TD>-> UofT/Dunlap (PhD)</TD>
        </TR>
        <TR>
            <TH>Micah Brush</TH>
            <TD>Levon Pogosian</TD>
            <TD>NSERC USRA</TD>
            <TD>-> Berkeley (PhD)</TD>
        </TR>
        <TR>
            <TH>Gwen Eadie</TH>
            <TD>Cosmology Group</TD>
            <TD>SFU Physics</TD>
            <TD>-> UofT (faculty)</TD>
        </TR>
        <TR>
            <TH>Jennifer Flood</TH>
            <TD>Levon Pogosian</TD>
            <TD>NSERC USRA</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>Cisco Gooding</TH>
            <TD>Andrei Frolov</TD>
            <TD>NSERC USRA</TD>
            <TD>-> Nottingham (fellow)</TD>
        </TR>
        <TR>
            <TH>Daiju Matsunami</TH>
            <TD>Levon Pogosian</TD>
            <TD>BSc Honors</TD>
            <TD>-> UofT/CITA (MSc)</TD>
        </TR>
        <TR>
            <TH>Nicholi Shiell</TH>
            <TD>Levon Pogosian</TD>
            <TD>NSERC USRA</TD>
            <TD>-> industry</TD>
        </TR>
        <TR>
            <TH>Starla Talbot</TH>
            <TD>Levon Pogosian</TD>
            <TD>NSERC USRA</TD>
            <TD>-> UofT/UTIAS (PhD)</TD>
        </TR>
        <TR>
            <TH>Thomas Wintschel</TH>
            <TD>Levon Pogosian</TD>
            <TD>Work Study</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>Joel Zylberberg</TH>
            <TD>Levon Pogosian</TD>
            <TD>SFU Physics</TD>
            <TD>-> UWash (faculty)</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Long-term Visitors:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Affiliation</TH>
            <TH WIDTH="20%" ALIGN="left">Dates</TH>
            <TH WIDTH="20%" ALIGN="left">Now At</TH>
        </TR>
        <TR>
            <TH>Alkistis Pourtsidou</TH>
            <TD>PhD student, University of Nottingham </TD>
            <TD>2009-09-02 to 2009-11-30</TD>
            <TD>Queen Mary (faculty)</TD>
        </TR>
        <TR>
            <TH>Amir Said</TH>
            <TD>PhD student, Tufts University</TD>
            <TD>2007-09-20 to 2007-11-30</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>Alessandra Silvestri</TH>
            <TD>PhD student, Syracuse University</TD>
            <TD>2007-10-03 to 2007-11-03</TD>
            <TD>Leiden (faculty)</TD>
        </TR>
        <TR>
            <TH>Yuting Wang</TH>
            <TD>postdoc, NAOC, Beijing</TD>
            <TD>2014-03-11 to 2014-04-10</TD>
            <TD>NAOC, Beijing (faculty)</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
