#encoding UTF-8
#attr $page = 'apps'
#attr $trail = ['<a href="apps.html">Mobile Apps</a>']
#attr $title = 'SFU Cosmology Apps'
#def content
    <BLOCKQUOTE>
    <H2 ALIGN="center">Double Pendulum</H2>
    <IMG SRC="images/double-pendulum.svg" WIDTH="120" BORDER="0" HSPACE="16" VSPACE="8" ALIGN="left" ALT="Double Pendulum"></IMG>
    The double pendulum is a simple mechanical system that displays chaos. The motion of the pendulum arms can be complex and unpredictable, with even minute changes leading to very different trajectories. This app accurately simulates the physics of a frictionless double pendulum, so you can explore and enjoy the complexity and beauty of mechanical chaos.
    
    <P ALIGN="center" style="margin: 12px 0px -12px 0px;">
    <A HREF="https://itunes.apple.com/us/app/double-pendulum/id1377507794?ls=1&mt=8"><IMG SRC="images/download-app-store.svg" HEIGHT="60" BORDER="0" HSPACE="16" VSPACE="0" ALT="Download on App Store"></IMG></A>
    <A HREF="https://itunes.apple.com/us/app/double-pendulum/id1484007384?ls=1&mt=8"><IMG SRC="images/download-mac-store.svg" HEIGHT="60" BORDER="0" HSPACE="16" VSPACE="0" ALT="Download on Mac App Store"></IMG></A>
    </P>
    <BR STYLE="clear: all;"/>
    </BLOCKQUOTE>
    
    <P ALIGN=center>
    SFU Cosmology apps <A HREF="privacy.html">respect your privacy and do not collect any data</A>.
    </P>
#end def
#include 'layout.tmpl'
