#encoding UTF-8
#attr $page = 'apps'
#attr $trail = ['<a href="apps.html">Mobile Apps</a>']
#attr $title = 'SFU Cosmology Apps'
#def content
    <BLOCKQUOTE>
    <H2 ALIGN="center">Double Pendulum</H2>
    <A HREF="https://itunes.apple.com/us/app/double-pendulum/id1377507794?ls=1&mt=8"><IMG SRC="images/Download_on_iTunes.svg" WIDTH="120" BORDER="0" HSPACE="16" VSPACE="8" ALIGN="right" ALT="Download on iTunes"></IMG></A>
    The double pendulum is a simple mechanical system that displays chaos. The motion of the pendulum arms can be complex and unpredictable, with even minute changes leading to very different trajectories. This app accurately simulates the physics of a frictionless double pendulum, so you can explore and enjoy the complexity and beauty of mechanical chaos.
    </BLOCKQUOTE>
#end def
#include 'layout.tmpl'
