#encoding UTF-8
#attr $page = 'jobs'
#attr $trail = ['<a href="jobs.html">Employment Opportunities</a>']
#attr $title = 'Employment Opportunities at SFU Cosmology Group' 
#def content
    
    <BLOCKQUOTE>
    <H2>Postdoctoral Position in Theoretical Cosmology</H2>
    
    <P>
    The cosmology group in the <A HREF="http://www.sfu.ca/physics">Physics Department</A>
    at <A HREF="http://www.sfu.ca/">Simon Fraser University</A> expects to have a postdoctoral
    position with a starting date in the Fall, 2019. The group includes faculty members
    <A HREF="http://www.sfu.ca/~frolov">Andrei Frolov</A> and
    <A HREF="http://www.sfu.ca/~levon">Levon Pogosian</A>, 
    and has active research interests in observational tests of fundamental theories, early
    universe, cosmic structure formation, dark energy, modified gravity, primordial magnetic fields,
    astroparticle physics, black holes and topological defects. Strong consideration will be given
    to applicants with demonstrated ability for independent research in any area of theoretical
    cosmology and astrophysics. Successful applicant is expected to contribute to group efforts
    in the <A HREF="https://simonsobservatory.org/">Simons Observatory</A>,
    <A HREF="https://cmb-s4.org/">CMB-S4</A> and other research related to Cosmic Microwave
    Background physics. The appointment is for two years, with a possibility of extension for
    another year contingent on performance and availability of funds. Exceptional applicants
    will be nominated for <A HREF="https://www.cita.utoronto.ca/opportunities/national-fellows-programs/">CITA
    National or CITA Canada Fellowships</A>.
    </P>
    
    <P>
    Applicants are required to send a CV, publication list, a statement of research interest,
    and arrange for 3 letters of reference to be sent electronically (plain text or PDF) to
    <A HREF="mailto:cosmo-search@sfu.ca">cosmo-search@sfu.ca</A> or by regular mail to:
    </P>
    
    <P>
    Cosmology Postdoc Search<BR>
    Simon Fraser University<BR>
    Department of Physics<BR>
    8888 University Drive<BR>
    Burnaby, BC Canada<BR>
    V5A 1S6
    </P>
    
    <P>
    The deadline for applications and all letters of recommendation is December 15,
    2018. To receive full consideration for CITA Fellowships, application must be received by November 15.
    Informal inquiries can be sent directly to either <A HREF="mailto:frolov@sfu.ca">frolov@sfu.ca</A> or
    <A HREF="mailto:levon@sfu.ca">levon@sfu.ca</A>.
    </P>
    </BLOCKQUOTE>

    <BLOCKQUOTE>
    <H2>Graduate Studies at Simon Fraser University</H2>
    
    <P>
    We are looking for new students at MSc or PhD level starting 2019.<BR>
    Applications should be made directly to <A HREF="http://www.physics.sfu.ca/teaching/grad/info_for_applicants/application_process">SFU Physics Department</A>.
    </P>
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
