#encoding UTF-8
#attr $page = 'people'
#attr $trail = ['<a href="people.html">People</a>']
#attr $title = 'SFU Cosmology People'
#def content
    <P ALIGN=center><IMG SRC="images/2009-09-10.jpg" WIDTH="586" HEIGHT="300" BORDER="3" ALT="SFU Cosmology Group, 2009/09/10"><BR>
    <FONT SIZE="-3">Alkistis Pourtsidou, Hasmik Hayrapetyan, Alireza Hojjati, Levon Pogosian, Andrei Frolov, Jun-Qi Guo, Aaron Berndsen (2009/09/10)</FONT></P>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Faculty:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Interests</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/~frolov">Andrei Frolov</A></TH>
            <TD>CMB, reheating, early Universe</TD>
            <TD>Associate Professor</TD>
            <TD>frolov</TD>
            <TD>P8456</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/~levon">Levon Pogosian</A></TH>
            <TD>dark energy, cosmic strings, CMB</TD>
            <TD>Associate Professor</TD>
            <TD>levon</TD>
            <TD>P8464</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/faculty/trottier.html">Howard Trottier</A></TH>
            <TD>high energy physics</TD>
            <TD>Professor</TD>
            <TD>trottier</TD>
            <TD>P8437</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Postdocs:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Interests</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/~aha25/">Alireza Hojjati</A></TH>
            <TD>strong lensing, structure formation, dark energy tests</TD>
            <TD>PDF</TD>
            <TD>a_hojjati</TD>
            <TD>P8407</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Graduate Students:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Supervisor</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/people/profiles/ssarora.html">Simerdeep Arora</A></TH>
            <TD>Levon Pogosian</TD>
            <TD>MSc</TD>
            <TD>ssarora</TD>
            <TD>P9426</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/people/profiles/joseg.html">Tomas Galvez</A></TH>
            <TD>Andrei Frolov</TD>
            <TD>PhD</TD>
            <TD>joseg</TD>
            <TD>P9426</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/people/profiles/yla289.html">Yun Li</A></TH>
            <TD>Levon Pogosian</TD>
            <TD>PhD</TD>
            <TD>yla289</TD>
            <TD>P9426</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/people/profiles/aplahn.html">Aaron Plahn</A></TH>
            <TD>Levon Pogosian</TD>
            <TD>PhD</TD>
            <TD>aplahn</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/people/profiles/cta63.html">Cheng Tang</A></TH>
            <TD>Andrei Frolov</TD>
            <TD>MSc</TD>
            <TD>cta63</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/people/profiles/sya9.html">Shaojie Yin</A></TH>
            <TD>Andrei Frolov</TD>
            <TD>MSc</TD>
            <TD>sya9</TD>
            <TD>P8481</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/people/profiles/azucca.html">Alex Zucca</A></TH>
            <TD>Levon Pogosian</TD>
            <TD>PhD</TD>
            <TD>azucca</TD>
            <TD>P9426</TD>
        </TR>
        <BR>
        <TR><TD COLSPAN="5" ALIGN="center"><FONT SIZE="-1"><A HREF="http://www.physics.sfu.ca/teaching/grad/info_for_applicants/application_process">we are looking for new students at MSc or PhD level starting 2015</A></FONT></TD></TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Undergrad Students:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Supervisor</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH>Micah Brush</TH>
            <TD>Levon Pogosian</TD>
            <TD>NSERC USRA</TD>
            <TD>mbrush</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>David Dobre</TH>
            <TD>Andrei Frolov</TD>
            <TD>NSERC USRA</TD>
            <TD>ddobre</TD>
            <TD>...</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <P ALIGN="center">[ <A HREF="alumni.html">SFU Cosmology Alumni: Where are they now?</A> ]</P>
#end def
#include 'layout.tmpl'
