#encoding UTF-8
#attr $page = 'people'
#attr $trail = ['<a href="people.html">People</a>']
#attr $title = 'SFU Cosmology People'
#def content
    <P ALIGN=center><IMG SRC="images/2009-09-10.jpg" WIDTH="586" HEIGHT="300" BORDER="3" ALT="SFU Cosmology Group, 2009/09/10"><BR>
    <FONT SIZE="-3">Alkistis Pourtsidou, Hasmik Hayrapetyan, Alireza Hojjati, Levon Pogosian, Andrei Frolov, Jun-Qi Guo, Aaron Berndsen (2009/09/10)</FONT></P>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Faculty:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Interests</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/~frolov">Andrei Frolov</A></TH>
            <TD>CMB, reheating, early universe</TD>
            <TD>Associate Professor</TD>
            <TD>frolov</TD>
            <TD>P8456</TD>
        </TR>
        <TR>
            <TH><A HREF="http://ion.uwinnipeg.ca/~gkunstat">Gabor Kunstatter</A></TH>
            <TD>black holes and quantum gravity</TD>
            <TD>Adjunct Professor</TD>
            <TD>g_kunstatter</TD>
            <TD></TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/~levon">Levon Pogosian</A></TH>
            <TD>dark energy, cosmic strings, CMB</TD>
            <TD>Professor</TD>
            <TD>levon</TD>
            <TD>P8464</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/faculty/trottier.html">Howard Trottier</A></TH>
            <TD>high energy physics</TD>
            <TD>Professor</TD>
            <TD>trottier</TD>
            <TD>P8437</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/~jwa304">Joanna Woo</A></TH>
            <TD>astrophysics, galaxy evolution</TD>
            <TD>Lecturer</TD>
            <TD>j_woo</TD>
            <TD>P8460</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Postdocs:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Interests</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH>Jian Li</TH>
            <TD>arriving soon</TD>
            <TD>PDF</TD>
            <TD></TD>
            <TD></TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Graduate Students:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Supervisor</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/people/profiles/jbarenbo.html">Jonathan Barenboim</A></TH>
            <TD>Andrei Frolov & Gabor Kunstatter</TD>
            <TD>MSc</TD>
            <TD>jbarenbo</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/people/profiles/yla289.html">Yun Li</A></TH>
            <TD>Levon Pogosian</TD>
            <TD>PhD</TD>
            <TD>yla289</TD>
            <TD>P9426</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/people/profiles/smirpoor.html">Hamid Mirpoorian</A></TH>
            <TD>Levon Pogosian</TD>
            <TD>MSc</TD>
            <TD>smirpoor</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/people/profiles/anezhads.html">Ali Nezhadsafavi</A></TH>
            <TD>Levon Pogosian</TD>
            <TD>MSc</TD>
            <TD>anezhads</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/people/profiles/zwa168.html">Xavier Wang</A></TH>
            <TD>Levon Pogosian</TD>
            <TD>MSc</TD>
            <TD>zwa168</TD>
            <TD>...</TD>
        </TR>
        <BR>
        <TR><TD COLSPAN="5" ALIGN="center"><FONT SIZE="-1"><A HREF="http://www.physics.sfu.ca/teaching/grad/info_for_applicants/application_process">we are looking for new students at MSc or PhD level starting 2020</A></FONT></TD></TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Undergrad Students:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Supervisor</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH>Anne Asklund</TH>
            <TD>Levon Pogosian</TD>
            <TD>BSc Honors</TD>
            <TD>...</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>David Dobre</TH>
            <TD>Andrei Frolov</TD>
            <TD>NSERC USRA</TD>
            <TD>ddobre</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>Yukari Uchibori</TH>
            <TD>Levon Pogosian</TD>
            <TD>BSc Honors</TD>
            <TD>...</TD>
            <TD>...</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <P ALIGN="center">[ <A HREF="alumni.html">SFU Cosmology Alumni: Where are they now?</A> ]</P>
#end def
#include 'layout.tmpl'
