#encoding UTF-8
#attr $page = 'privacy'
#attr $trail = ['<a href="apps.html">Mobile Apps</a>', '<a href="privacy.html">Privacy Policy</a>']
#attr $title = 'SFU Cosmology Apps'
#def content
    <BLOCKQUOTE>
    <H2 ALIGN="center">Privacy Policy</H2>
    SFU Cosmology apps respect your privacy. No personal information is required, used, collected, or transmitted at any time.
    </BLOCKQUOTE>
#end def
#include 'layout.tmpl'
