#encoding UTF-8
#attr $page = 'teaching'
#attr $trail = ['<a href="teaching.html">Courses</a>']
#attr $title = 'Cosmology Courses Taught at SFU'
#def content
    <P ALIGN="center">Here are the cosmology-specific courses we teach at SFU:</P>
    <HR>
    
    <BLOCKQUOTE>
    <H2 ALIGN="left"><A HREF="http://at.its.sfu.ca/cos/wcDescrView.aspx?crsId=2800">PHYS 390</A> -
        Introduction to Astrophysics and Cosmology</H2>
    
    This undergraduate course is a quantitative introduction to the astrophysics of stars, galaxies, and the universe as a whole, emphasizing the physics of these systems as opposed to the techniques of astronomical observation. Topics include the tools of astronomy, planetary system dynamics, binary stars and clusters, end states of stellar evolution (white dwarfs, neutron stars, and black holes), galactic structure and evolution, quasars, large scale structure of the universe, origin of the elements, and cosmology. <I>No prior knowledge of general relativity is assumed.</I>
    
    <H4>Next Offered: Spring 2014; Instructor: <A HREF="http://www.sfu.ca/~frolov">Andrei Frolov</A></H4>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN="left"><A HREF="http://at.its.sfu.ca/cos/wcDescrView.aspx?crsId=3695">PHYS 490</A> -
        General Relativity and Gravitation</H2>
    
    Introductory course in general relativity and gravitation: self-contained introduction to differential geometry, gravity as geometrical theory and physics in a curved spacetime. Topics covered include modern view of
    gravity and space-time, Einstein's equations and their solution, tests of relativity, black holes, stellar equilibrium and collapse, and cosmological models. <I>This course is cross-listed at graduate level as PHYS 881.</I>
    
    <H4>Next Offered: Fall 2013, MWF 10:30-11:20; Instructor: <A HREF="http://www.sfu.ca/~frolov">Andrei Frolov</A></H4>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN="left"><A HREF="http://at.its.sfu.ca/cos/wcDescrView.aspx?crsId=2538">PHYS 881</A> - Topics in Modern Cosmology (Spring)</H2>
    
    This graduate level course covers selected topics in modern cosmology.
    
    <H4>Next Offered: Spring 2014; Instructor: <A HREF="http://www.sfu.ca/~levon">Levon Pogosian</A></H4>
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
