#def $Id$
#attr $root = '../../'
#attr $page = 'research/defrost/M2G22'
#attr $trail = ['<a href="../../research.html">Research</a>', '<a href="../index.html">DEFROST</a>', '<a href="index.html">V(&phi;,&psi;) = &frac12; m&sup2; &phi;&sup2; + &frac12; g&sup2; &phi;&sup2; &psi;&sup2;</a>']
#attr $title = 'DEFROST: A Code for Simulating the Big Bang: Preheating after Chaotic Inflation'
#def content
    
    <BLOCKQUOTE>
    <H2 ALIGN="center">Inflaton decay model: V(&phi;,&psi;) = &frac12; m&sup2; &phi;&sup2; + &frac12; g&sup2; &phi;&sup2; &psi;&sup2;</H2>
    
    <P ALIGN="center">
      <FONT SIZE="-1">Can't play the H.264/MPEG-4 movies below? Try one of these players:</FONT><BR>[
            <A HREF="http://cccp-project.net/">CCCP (Windows)</A> |
            <A HREF="http://perian.org/">Perian (MacOS)</A> |
            <A HREF="http://www.mplayerhq.hu/">MPlayer (All Platforms)</A> |
            <A HREF="http://www.videolan.org/vlc/">VLC (All Platforms)</A> ]
    </P>    
    
    <HR WIDTH="520">
    
    <TABLE ALIGN="center">
    <TR><TH WIDTH="100">3D volume render: Density &rho;</TH></TR>
    <TR><TD ALIGN="center"><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/3xySN-gcbxg&hl=en&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/3xySN-gcbxg&hl=en&fs=1&rel=0" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></TD></TR>
    <TR><TD ALIGN="center"><A HREF="volume-rho.avi">High quality 960x720 movie in H.264/MPEG-4 AVC (8Mb)</A></TD></TR>
    </TABLE>
    
    <HR WIDTH="520">
    
    <TABLE ALIGN="center">
    <TR><TH WIDTH="100">3D volume render: Potential &Psi;</TH></TR>
    <TR><TD ALIGN="center"><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/YahXIBEkXPQ&hl=en&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/YahXIBEkXPQ&hl=en&fs=1&rel=0" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></TD></TR>
    <TR><TD ALIGN="center"><A HREF="volume-PSI.avi">High quality 960x720 movie in H.264/MPEG-4 AVC (3Mb)</A></TD></TR>
    </TABLE>
    
    <HR WIDTH="520">
    
    <H4 ALIGN="center">Simulation Results:</H4>
    <TABLE ALIGN="center">
    <TR>
    	<TH WIDTH="100">Inflaton &phi;</TH>
    	<TH WIDTH="100">Field &psi;</TH>
    	<TH WIDTH="100">Density &rho;</TH>
    	<TH WIDTH="100">Pressure p</TH>
    	<TH WIDTH="100">Potential &Psi;</TH>
    </TR>
    <TR>
    	<TD ALIGN="center"><A HREF="slice-phi.avi"><IMG SRC="slice-phi.png" WIDTH="100" HEIGHT="100" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="slice-psi.avi"><IMG SRC="slice-psi.png" WIDTH="100" HEIGHT="100" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="slice-rho.avi"><IMG SRC="slice-rho.png" WIDTH="100" HEIGHT="100" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="slice-prs.avi"><IMG SRC="slice-prs.png" WIDTH="100" HEIGHT="100" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="slice-PSI.avi"><IMG SRC="slice-PSI.png" WIDTH="100" HEIGHT="100" BORDER="0" ALT=""></A></TD>
    </TR>
    <TR>
    	<TD ALIGN="center"><A HREF="pdf-phi.pdf"><IMG SRC="pdf-phi.png" WIDTH="100" HEIGHT="70" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="pdf-psi.pdf"><IMG SRC="pdf-psi.png" WIDTH="100" HEIGHT="70" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="pdf-rho.pdf"><IMG SRC="pdf-rho.png" WIDTH="100" HEIGHT="70" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="pdf-prs.pdf"><IMG SRC="pdf-prs.png" WIDTH="100" HEIGHT="70" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="pdf-PSI.pdf"><IMG SRC="pdf-PSI.png" WIDTH="100" HEIGHT="70" BORDER="0" ALT=""></A></TD>
    </TR>
    <TR>
    	<TD ALIGN="center"><A HREF="psd-phi.pdf"><IMG SRC="psd-phi.png" WIDTH="100" HEIGHT="70" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="psd-psi.pdf"><IMG SRC="psd-psi.png" WIDTH="100" HEIGHT="70" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="psd-rho.pdf"><IMG SRC="psd-rho.png" WIDTH="100" HEIGHT="70" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="psd-prs.pdf"><IMG SRC="psd-prs.png" WIDTH="100" HEIGHT="70" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="psd-PSI.pdf"><IMG SRC="psd-PSI.png" WIDTH="100" HEIGHT="70" BORDER="0" ALT=""></A></TD>
    </TR>
    </TABLE>
    
    <P ALIGN="center">[
    <A HREF="LOG.gz">Expansion history</A> |
    <A HREF="CDF.gz">Field distributions</A> |
    <A HREF="PSD.gz">Field spectra</A> ]
    </P>
    
    <HR WIDTH="520">
    
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
