Redirect 301 /physics/cosmology/seminars.html https://www.sfu.ca/physics/cosmology/seminars/
Redirect 301 /physics/cosmology/TestingGravity2015.html https://www.sfu.ca/physics/cosmology/TestingGravity2015/
Redirect 301 /physics/cosmology/TestingGravity2017.html https://www.sfu.ca/physics/cosmology/TestingGravity2017/
Redirect 301 /physics/cosmology/TestingGravity2019.html https://www.sfu.ca/physics/cosmology/TestingGravity2019/
