#attr $page = 'people/alumni'
#attr $trail = ['<a href="people.html">People</a>', '<a href="alumni.html">Alumni</a>']
#attr $title = 'SFU Cosmology Alumni'
#def content
    <BLOCKQUOTE>
    <H2 ALIGN=center>Postdocs:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Interests</TH>
            <TH WIDTH="10%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">Dates</TH>
            <TH WIDTH="20%" ALIGN="left">Now At</TH>
        </TR>
        <TR>
            <TH>Aaron Berndsen</TH>
            <TD>brane gas cosmology, brane world scenarios</TD>
            <TD>NSERC PDF</TD>
            <TD>2007 - 2009</TD>
            <TD>-> UBC (RA)</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/~gza5">Gong-Bo Zhao</A></TH>
            <TD>structure formation, dark energy tests</TD>
            <TD>PDF</TD>
            <TD>2007 - 2009</TD>
            <TD>-> <A HREF="http://userweb.port.ac.uk/~zhaog/Home.html">ICG/Portsmouth</A></TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Graduate Students:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Supervisor</TH>
            <TH WIDTH="10%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">Dates</TH>
            <TH WIDTH="20%" ALIGN="left">Now At</TH>
        </TR>
        <TR>
            <TH>Jun-Qi Guo</TH>
            <TD>Andrei Frolov</TD>
            <TD>PhD</TD>
            <TD>2008 - 2014</TD>
            <TD>-> Tata Institute (postdoc) </TD>
        </TR>
        <TR>
            <TH>Hasmik Hayrapetyan</TH>
            <TD>Levon Pogosian</TD>
            <TD>MSc</TD>
            <TD>2008 - 2011</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>Yang Liu</TH>
            <TD>Levon Pogosian</TD>
            <TD>MSc</TD>
            <TD>2011 - 2013</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>Aaron Plahn</TH>
            <TD>Levon Pogosian</TD>
            <TD>MSc</TD>
            <TD>2012 - 2014</TD>
            <TD>...</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Undergrad Students:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Supervisor</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="20%" ALIGN="left">Now At</TH>
        </TR>
        <TR>
            <TH>Gwen Eadie</TH>
            <TD>Cosmology Group</TD>
            <TD>SFU Physics</TD>
            <TD>-> Queen's</TD>
        </TR>
        <TR>
            <TH>Jennifer Flood</TH>
            <TD>Levon Pogosian</TD>
            <TD>NSERC USRA</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>Cisco Gooding</TH>
            <TD>Andrei Frolov</TD>
            <TD>NSERC USRA</TD>
            <TD>-> UBC</TD>
        </TR>
        <TR>
            <TH>Nicholi Shiell</TH>
            <TD>Levon Pogosian</TD>
            <TD>NSERC USRA</TD>
            <TD>-> Queen's</TD>
        </TR>
        <TR>
            <TH>Starla Talbot</TH>
            <TD>Levon Pogosian</TD>
            <TD>NSERC USRA</TD>
            <TD>-> SFU</TD>
        </TR>
        <TR>
            <TH>Thomas Wintschel</TH>
            <TD>Levon Pogosian</TD>
            <TD>Work Study</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>Joel Zylberberg</TH>
            <TD>Levon Pogosian</TD>
            <TD>SFU Physics</TD>
            <TD>-> Berkeley</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Long-term Visitors:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Affiliation</TH>
            <TH WIDTH="30%" ALIGN="left">Dates</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH>Alkistis Pourtsidou</TH>
            <TD>PhD student, University of Nottingham </TD>
            <TD>2009-09-02 to 2009-11-30</TD>
            <TD>P9452</TD>
        </TR>
        <TR>
            <TH>Amir Said</TH>
            <TD>PhD student, Tufts University</TD>
            <TD>2007-09-20 to 2007-11-30</TD>
            <TD>IRMACS</TD>
        </TR>
        <TR>
            <TH>Alessandra Silvestri</TH>
            <TD>PhD student, Syracuse University</TD>
            <TD>2007-10-03 to 2007-11-03</TD>
            <TD>IRMACS</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
