#def $Id$
#attr $page = 'contact'
#attr $trail = ['<a href="contact.html">Contact Us</a>']
#attr $title = 'Contact SFU Cosmology Group'
#def content
    <BLOCKQUOTE>
    <H2>Mailing Address:</H2>
    
    <A HREF="http://www.sfu.ca/">Simon Fraser University</A><BR>
    <A HREF="http://www.sfu.ca/physics/">Department of Physics</A><BR>
    <BR>
    8888 University Drive<BR>
    Burnaby, BC Canada<BR>
    V5A 1S6<BR>
    <BR>
    Fax: 1(778)782-3592
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2>Postdoc Applications:</H2>
    
    Applications should be sent to:
    <A HREF="MAILTO:cosmo-search@sfu.ca">cosmo-search@sfu.ca</A>
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
