#def $Id$
#def title: <IMG SRC="images/title/cosmo.png" WIDTH="392" HEIGHT="36" BORDER="0" VSPACE="13" ALT="SFU Cosmology">
#def content
    
    <BLOCKQUOTE>
    <H2>Contact Information:</H2>
    
    <A HREF="http://www.sfu.ca/">Simon Fraser University</A><BR>
    <A HREF="http://www.sfu.ca/physics/">Department of Physics</A><BR>
    <BR>
    8888 University Drive<BR>
    Burnaby, BC Canada<BR>
    V5A 1S6<BR>
    <BR>
    Fax: 1(604)291-3592
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
