body {position: relative; margin: 0; padding: 0;}

div#content h1 {font: 1em Arial,Helvetica,sans-serif; text-transform: uppercase; padding: 3px 0 3px; color: #B5111A;}
div#content h2 {margin: -9px -10px 0.5em; padding: 0px 9px 0px; background: #0054A6; color: white;}
div#content h3 {margin: -9px -10px 0.5em; padding: 5px 9px 5px; }
div#content dt {font-weight: bold;}
div#content dd {margin-bottom: 0.66em;}

div#content code, pre {font-size: 110%;}
div#content blockquote {width: 96%; font-size: 90%; padding: 9px 9px 1em; border: 1px solid #0054A6;}
div#content hr {width: 100%; margin: 5px -5px 3px;}
div#content table.index {font-size: 75%;}
div#content address {font-size: 80%;}

div#content p {margin: 0 1em 1em;}
div#content h2 a {text-decoration: none;}
div#content h3 a {text-decoration: none;}
div#content blockquote a {text-decoration: none;}
