body {position: relative; margin: 0; padding: 0;}

div#content {position: absolute; top: 25px; left: 162px; right: 25px;
   color: #EED; font: 100% Verdana, sans-serif; padding: 9px; border: 1px solid #EEE;}
div#links {position: absolute; top: 55px; left: 2px; width: 158px; height: 700px; font: 16px Verdana, sans-serif;}

body {background: black url(images/bg/goods.png) 0 0 repeat fixed;}
div#content {background: #468;}
div#links a {background: transparent url(images/bg/goods-fade.png) 0 0 repeat fixed;}
div#links a:hover {background: transparent url(images/bg/goods-wash.png) 0 0 repeat fixed;}

h1 {margin: -10px -10px 0.5em; padding: 10px 0px 10px;
    text-align: center; vertical-align: middle;
    letter-spacing: 0.15em; font: bold 250% Verdana, sans-serif; 
    background: #EEE url(images/bg/metal.png); color: black;}


h2 {margin: -9px -9px 0.5em; padding: 5px 9px 5px; background: #234;}
h3 {margin: -9px -9px 0.5em; padding: 5px 9px 5px;}
dt {font-weight: bold;}
dd {margin-bottom: 0.66em;}
code, pre {color: #EDC; font: 110% monospace;}
blockquote {font: 90% sans-serif; font-style: italic; padding: 9px 9px 1em; border: 1px solid #234;}
table.index {font: 90% sans-serif;}
address {font: 80% sans-serif;}

div#content p {margin: 0 1em 1em;}
div#content a:link {color: white;}
div#content a:visited {color: #BBC;}
div#content a:link:hover {color: #FF0;}
div#content a:visited:hover {color: #CC0;}
div#content h2 a {text-decoration: none;}
div#content h3 a {text-decoration: none;}
div#content blockquote a {text-decoration: none;}
div#content h2 a:link {color: #EED;}
div#content h2 a:visited {color: #EED;}

div#links a {display: block; text-align: center; font: bold 120% sans-serif; 
   padding: 5px 10px; margin: 0 0 2px; border-width: 0; 
   text-decoration: none; color: #FFC;}
div#links a:hover {color: #411;}

div#links a span {display: none;}
div#links a:hover span {display: block;
   position: absolute; top: 300px; left: 0; width: 125px;
   padding: 5px; margin: 10px; z-index: 100;
   color: #AAA; background: black;
   font: 10px Verdana, sans-serif; text-align: center;}
