#def $Id$
#def title: <IMG SRC="images/title/cosmo.png" WIDTH="392" HEIGHT="36" BORDER="0" VSPACE="13" ALT="SFU Cosmology">
#def content
#import seminars
    
    <BLOCKQUOTE>
    <H2 ALIGN="center">Welcome to SFU Cosmology Group's new website</H2>
    <IMG SRC="images/atwork.png" WIDTH="40" HEIGHT="40" BORDER="0" HSPACE="16" VSPACE="8" ALIGN="left" ALT="">
    
    Our webpage is still under construction. We will be bringing content online over the next few months.
    For now, we would like to advertise a postdoc opening in our group starting next year. We are also looking
    for prospective graduate students. If you are interested in studying cosmology, talk to us.
    </BLOCKQUOTE>
    
    <BR>
    <H3 ALIGN="center">Saturday, 7 July 2007, 19:30 in Theatre C9001</H3>
    <BLOCKQUOTE>
    <H2 ALIGN="center"><A HREF="http://qp.pcis.com/QuickPlace/rascvan/Main.nsf">Royal Astronomical Society of Canada</A> Public Lecture</H2>
    <IMG SRC="HST.jpg" WIDTH="205" HEIGHT="136" BORDER="0" HSPACE="16" VSPACE="8" ALIGN="right" ALT="Hubble Space Telescope">
    <H3>Dr. Ray Villard  -  <I>"Discoveries of the Hubble Space Telescope"</I></H3>
    
    The Hubble Space Telescope was released from the Space Shuttle in 1990 and
    from its perch high above the Earth's light absorbing atmosphere has proved
	to be one of the world's foremost astronomical tools;  providing proof of
	the age of the universe and its expansion rate.  Along the way the HST has
	shown, with striking photos, the beauty of the universe in which we live
	and views of our planetary neighbours that rival those of planetary space
	probes.
	
	<BR CLEAR="right">
    <IMG SRC="ENP.jpg" WIDTH="150" HEIGHT="145" BORDER="0" HSPACE="44" VSPACE="8" ALIGN="right" ALT="Eagle Nebula Pillar">
	<H4>About the speaker:</H4>
	Dr. Ray Villard is Public Relations Director for the Hubble Space Telescope.
	Astronomy courses through Dr. Villard's veins; prior to joining the HST
	team, he was an associate editor for Sky and Telescope and Astronomy
	magazines as well as an author of two astronomy textbooks and has written
	scripts for radio and planetariums.
	
	<BR><BR>
	<FONT SIZE=-1>Admission is by donation. Further info at <A HREF="http://qp.pcis.com/QuickPlace/rascvan/PageLibrary88256C7E00127E9D.nsf/h_44F9E49675C99DB488256C7E00128568/B407BB2A4BB2620A882573040063BDC5/?OpenDocument">RASC Vancouver website</A>.</FONT>
    </BLOCKQUOTE>
    
    #if $seminars.future
    <BLOCKQUOTE>
    <H2 ALIGN="center">Next Seminar:</H2>
    #for $s in $seminars.next
        $s.date.strftime('%F %R') in&nbsp;$s.place -
        <A HREF="seminars/"><B>$s.speaker ($s.affiliation):</B> $s.title</A>
    #end for
    </BLOCKQUOTE>
    #end if
    
    <P ALIGN=center>
    For seminars and other local announcements, please subscribe to
    <A HREF="MAILTO:sfu-cosmo-request@sfu.ca?subject=subscribe">sfu-cosmo mailing list</A>.
    </P>
#end def
#include 'layout.tmpl'
