#attr $title= 'SFU Cosmology Group'
#def content
#import seminars
    <P ALIGN=center><IMG SRC="images/2009-09-10.jpg" WIDTH="586" HEIGHT="300" BORDER="3" ALT="SFU Cosmology Group, 2009/09/10"><BR>
    <FONT SIZE="-3">Alkistis Pourtsidou, Hasmik Hayrapetyan, Alireza Hojjati, Levon Pogosian, Andrei Frolov, Jun-Qi Guo, Aaron Berndsen (2009/09/10)</FONT></P>
    
    <BLOCKQUOTE>
    <H2 ALIGN="center">Testing Gravity 2015:</H2>
    We are organizing a three day workshop on various ways of testing gravity - cosmological, astrophysical and terrestrial. This is a topical theme, in part because of the growing interest in modified gravity theories motivated by the unexplained nature of dark matter and dark energy, and in part by improving technologies that open opportunities for new types of tests. The workshop will bring together experimentalists, observers and theorists, with a mixture of invited and contributed talks, and plenty of time for discussions. The meeting will take place 15-17 January 2015 at SFU Harbour Center. A one day school on cosmology and gravity for students will directly precede the main workshop. Visit <A HREF="http://www.sfu.ca/physics/cosmology/TestingGravity2015/">conference website</A> for more details.
    </BLOCKQUOTE>
    <BR>
    
    #if $seminars.future
    <BLOCKQUOTE>
    <H2 ALIGN="center">Next Seminar:</H2>
    #for $s in $seminars.next
        $s.date.strftime('%F&nbsp;%R')&nbsp;in&nbsp;$s.place -
        <A HREF="seminars/"><B>$s.speaker ($s.affiliation):</B> $s.title</A>
    #end for
    </BLOCKQUOTE>
    #end if
    
    <P ALIGN=center>
    For seminars and other local announcements, please subscribe to
    <A HREF="MAILTO:sfu-cosmo-request@sfu.ca?subject=subscribe">sfu-cosmo mailing list</A>.
    </P>
#end def
#include 'layout.tmpl'
