#def $Id$
#def title: <IMG SRC="images/title/cosmo.png" WIDTH="392" HEIGHT="36" BORDER="0" VSPACE="13" ALT="SFU Cosmology">
#def content
#import seminars
    
    #if $seminars.future
    <BLOCKQUOTE>
    <H2 ALIGN="center">Next Seminar:</H2>
    #for $s in $seminars.next
        $s.date.strftime('%F&nbsp;%R')&nbsp;in&nbsp;$s.place -
        <A HREF="seminars/"><B>$s.speaker ($s.affiliation):</B> $s.title</A>
    #end for
    </BLOCKQUOTE>
    #end if
    
    <BR>
    <H3 ALIGN="center">Saturday, 15 November 2008, 09:00 in ASB10900</H3>
    <BLOCKQUOTE>
    <H2 ALIGN="center"><A HREF="http://www.math.sfu.ca/atasteofpi/">A Taste of &Pi;</A> Public Lecture</H2>
    <H3>Dr. Andrei Frolov  -  <I>"The Beginning of the Universe"</I></H3>
    
    The Universe is now about 14 billion years old. We can see the hot glow of
    its younger days in a form of cosmic microwave background radiation. That
    light is coming to us from the time it was about 400,000 years old. We have
    a pretty good idea how Universe was expanding when it was three minutes old
    from abundance of elements produced during nucleosynthesis. But what was
    there before that? And how are we going to find out? In this talk, I will
    describe the current paradigms of theoretical cosmology, inflation and the
    Big Bang model, discuss what observational evidence we have to support our
    views, and mention some of my own work on reheating of the early Universe.
    </BLOCKQUOTE>
    
    <P ALIGN=center>
    For seminars and other local announcements, please subscribe to
    <A HREF="MAILTO:sfu-cosmo-request@sfu.ca?subject=subscribe">sfu-cosmo mailing list</A>.
    </P>
#end def
#include 'layout.tmpl'
