#def $Id$
#def title: <IMG SRC="images/title/cosmo.png" WIDTH="392" HEIGHT="36" BORDER="0" VSPACE="13" ALT="SFU Cosmology">
#def content
    
#*
    <BLOCKQUOTE>
    <H2>CITA National Postdoctoral Fellowship at Simon Fraser University</H2>
    
    <P>
    The theoretical cosmology group at the
    <A HREF="http://www.sfu.ca/">Simon Fraser University</A>
    <A HREF="http://www.sfu.ca/physics">Physics Department</A>
    invites applications for the
    <A HREF="http://www.cita.utoronto.ca/">Canadian Institute for Theoretical Astrophysics</A>
    <A HREF="http://www.cita.utoronto.ca/index.php/working_cita/cita_national_fellowships">National Fellowship</A>
    to be held at SFU with a starting date in the Fall of 2008. The group includes three faculty
    (<A HREF="http://www.sfu.ca/~frolov">Andrei Frolov</A>,
    <A HREF="http://www.sfu.ca/~levon">Levon Pogosian</A>, and
    <A HREF="http://www.sfu.ca/physics/faculty/trottier.html">Howard Trottier</A>),
    two postdocs and several graduate students, and has active research interests in
    observational tests of fundamental theories, early universe, cosmic structure formation,
    astroparticle physics, black holes and topological defects. The CITA National Fellow is
    expected to carry out original research in theoretical astrophysics or closely related
    fields. The successful appointment would be for two years with competitive salary and
    travel support.
    </P>
    
    <P>
    Applicants are required to send a CV, publication list, a statement of research interest,
    and arrange for 3 letters of reference to be sent electronically (plain text or PDF) to
    <A HREF="mailto:cosmo-search@sfu.ca">cosmo-search@sfu.ca</A> or by regular mail to:
    </P>
    
    <P>
    Cosmology Postdoc Search<BR>
    Simon Fraser University<BR>
    Department of Physics<BR>
    8888 University Drive<BR>
    Burnaby, BC Canada<BR>
    V5A 1S6
    </P>
    
    <P>
    The selected applicant will be nominated for the CITA National Fellowship. The nomination
    will be examined by CITA Council and ranked along with, and using the same standards as,
    applications for postdoctoral research fellow positions to be held at CITA. For further
    information regarding the Canadian Institute for Theoretical Astrophysics and the CITA
    National Fellowship program refer to
    <A HREF="http://www.cita.utoronto.ca/">CITA's website</A>.
    </P>
    
    <P>
    The deadline for applications and all letters of recommendation is November 1,
    2007. Early applications are encouraged. Informal inquiries can be sent
    directly to either <A HREF="mailto:frolov@sfu.ca">frolov@sfu.ca</A> or
    <A HREF="mailto:levon@sfu.ca">levon@sfu.ca</A>.
    </P>
    </BLOCKQUOTE>
*#

<P ALIGN=center>
We are looking for new students at MSc or PhD level starting 2011. Applications should be made directly to <A HREF="http://www.physics.sfu.ca/teaching/grad/info_for_applicants/application_process">SFU Physics Department</A>.

#end def
#include 'layout.tmpl'
