<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

#import datetime
#set $today = datetime.datetime.today()
#set $root = $getVar('root', '')
#set $page = $getVar('page', '')
#set $trail = ['<a href="http://www.sfu.ca/">SFU</a>', '<a href="http://www.physics.sfu.ca/">Physics</a>', '<a href="'+$root+'index.html">Cosmology</a>'] + $getVar('trail', [])

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>SFU Cosmology Group</title>
<link rel="icon" href="${root}images/icon.png" type="image/png">
<!-- TemplateEndEditable -->
<link href="http://www.sfu.ca/hp/clf/css/layout.css" rel="stylesheet" type="text/css" />
<link href="../css/dynamic/banner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.sfu.ca/hp/clf/js/flyout.js"></script>
<script type="text/javascript" src="http://www.sfu.ca/hp/clf/js/browserdetect_lite.js"></script>
<script type="text/javascript" src="http://www.sfu.ca/hp/clf/js/opacity.js"></script>
<script type="text/javascript" src="http://www.sfu.ca/hp/clf/js/admin.js"></script>
<script type="text/javascript" src="http://www.sfu.ca/hp/clf/js/random.js"></script>
<script type="text/javascript" src="http://www.sfu.ca/hp/clf/js/onload.js"></script>

<!-- These next two define the rotating banner images.  If you want your own, replace these files with links to your own CSS and JS -->
<link href="http://www.sfu.ca/css/dynamic/banner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.sfu.ca/js/dynamic/banner.js"></script>

<!-- TemplateBeginEditable name="head" --><!-- TemplateEndEditable -->
</head>

<body>
<div id="absWrapper">
	<div id="container">
		<script type="text/javascript" src="http://www.sfu.ca/hp/clf/js/main_sfu_script.js"></script>
		<a href="http://www.sfu.ca/">Simon Fraser University</a>
		<script type="text/javascript">
		//<![CDATA[
		document.write('</'+'div>');
		//]]>
		</script><noscript>
		<div id="header" class="banner_0"><a href="http://www.sfu.ca/">Simon Fraser University</a></div>
		</noscript>
		<!-- TemplateBeginEditable name="TopicsMenu" -->
		<ul id="main_nav">
            <LI class="homeLink"><A href="${root}index.html">SFU Cosmology Group</A></LI>
            <LI#if ('people'   in page) then ' class="current"' else '' #><A href="${root}people.html">People</A></LI>
            <LI#if ('research' in page) then ' class="current"' else '' #><A href="${root}research.html">Research</A></LI>
            <LI#if ('preprint' in page) then ' class="current"' else '' #><A href="${root}preprints.html">Preprints</A></LI>
            <LI#if ('seminars' in page) then ' class="current"' else '' #><A href="${root}seminars/">Seminars</A></LI>
            <LI#if ('outreach' in page) then ' class="current"' else '' #><A href="${root}outreach.html">Outreach</A></LI>
            <LI#if ('visitors' in page) then ' class="current"' else '' #><A href="${root}visitors.html">Visitor Info</A></LI>
            <LI#if ('jobs'     in page) then ' class="current"' else '' #><A href="${root}jobs.html">Opportunities</A></LI>
            <LI#if ('contact'  in page) then ' class="current"' else '' #><A href="${root}contact.html">Contact Us</A></LI>
            <LI class="dotted"><A href="${root}links.html">Resources</A></LI>
		</ul>
		<!-- TemplateEndEditable -->
		<div id="sideItems">
				<div id="breadcrumbs"><!-- TemplateBeginEditable name="Breadcrumbs" -->
				  <ul>
				    <li>#echo "&gt;</li>\n				    <li>".join($trail) #</li>
			      </ul>
				<!-- TemplateEndEditable --></div>
		<div id="PageTitle"><!-- TemplateBeginEditable name="PageTitle" --><P ALIGN=center>$title</P><!-- TemplateEndEditable --></div>
	  </div>
	  <div id="topLinks">
			<a href="http://www.sfu.ca/" class="spacer main">SFU.ca</a>
	
			<a href="http://www.burnaby.sfu.ca/">Burnaby</a>
			<div class="divider">|</div>
			<a href="http://www.surrey.sfu.ca/">Surrey</a>
			<div class="divider">|</div>
			<a href="http://www.vancouver.sfu.ca/">Vancouver</a>
	
			<form class="search" action="http://www.google.com/u/sfu">
			<div class="divider">|</div>
			<p>
			<input name="sitesearch" type="hidden" value="sfu.ca" checked="checked" />
			<input type="hidden" name="domains" value="sfu.ca" />
			<label>SFU Search
			<input name="q" type="text" size="20" />
			</label>
			</p>
			</form>
			<ul id="pullDowns" class="flyout">
				<li><a href="http://www.sfu.ca/onlineservices/index.html">SFU Online</a>
				<script type="text/javascript" src="http://www.sfu.ca/hp/clf/js/SFUonline.js"></script>
				</li>
				<li class="divider">|</li>
				<li><script type="text/javascript" src="http://www.sfu.ca/hp/clf/js/AtoZ.js"></script><noscript>
					<div><a href="http://www.sfu.ca/dir/az_dir.html">A-Z Links</a></div></noscript>
				</li>
			</ul>
	  </div>
	
      <!-- TemplateBeginEditable name="Content" -->
$content
      <!-- TemplateEndEditable -->

      <hr><address>Modified by Andrei Frolov &lt;<A HREF="mailto:frolov@sfu.ca">frolov@sfu.ca</A>&gt; on $today.strftime('%F')</address>
      <div id="footer">8888 University Drive, Burnaby, B.C. Canada V5A 1S6 | <a href="http://www.sfu.ca/webmaster/terms.html">Terms and Conditions</a> | <a href="http://www.sfu.ca/contact/index.html">Contact Us</a> | <a href="http://www.sfu.ca/about/sitemap.html">SiteMap</a> | <a href="http://www.sfu.ca/security/sfuroadconditions/">Road Conditions</a> | &copy; Simon Fraser University</div>
	</div>
</div>
</body>
</html>