#def $Id$
#attr $page = 'links'
#attr $trail = ['<a href="links.html">Resources</a>']
#def title: <IMG SRC="images/title/cosmo.png" WIDTH="392" HEIGHT="36" BORDER="0" VSPACE="13" ALT="SFU Cosmology">
#def content
    
    <BLOCKQUOTE>
    <H2>Essential References</H2>
    
    <UL>
	    <LI><A HREF="http://www.arxiv.org/">arXiv.org e-Print archive</A></LI>
    	<LI><A HREF="http://www.slac.stanford.edu/spires/hep/">SPIRES High-Energy Physics Literature Database</A></LI>
	    <LI><A HREF="http://adsabs.harvard.edu/">The Smithsonian/NASA Astrophysics Data System</A></LI>
    </UL>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2>Cosmology and Astrophysics Data</H2>
    
    <UL>
	    <LI><A HREF="http://lambda.gsfc.nasa.gov/">LAMBDA</A> - NASA's data center for Cosmic Microwave Background (CMB) research</LI>
	    <LI><A HREF="http://heasarc.gsfc.nasa.gov/">HEASARC</A> - NASA's X-ray and &gamma;-ray astronomy data archive</LI>
	    <LI>Supernovae:
	        <A HREF="http://cfa-www.harvard.edu/oir/Research/supernova/SNarchive.html">CfA SN Archive</A>,
	        <A HREF="http://cfa-www.harvard.edu/cfa/oir/Research/supernova/home.html">High-Z SN Search</A>,
	        <A HREF="http://supernova.lbl.gov/">SN Cosmology Project</A>,
	        <A HREF="http://legacy.astro.utoronto.ca/">SN Legacy Survey</A>
	    </LI>
	    <LI>Large Scale Structure:
	        <A HREF="http://www.sdss.org/">Sloan Digital Sky Survey</A>
	    </LI>
	    <BR>
	    <LI>Gravitational Wave Interferometers:
	        <A HREF="http://www.ligo.caltech.edu/">LIGO</A>,
	        <A HREF="http://lisa.nasa.gov/">LISA</A>,
	        <A HREF="http://wwwcascina.virgo.infn.it/">VIRGO</A>,
	        <A HREF="http://geo600.aei.mpg.de/">GEO600</A>,
	        <A HREF="http://tamago.mtk.nao.ac.jp/">TAMA300</A>
	    </LI>
	    <LI>Lab Tests of Gravity:
	        <A HREF="http://www.npl.washington.edu/eotwash/">The E&ouml;t-Wash Group</A>
	    </LI>
    </UL>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2>Useful Software</H2>
    
    <UL>
        <LI>Scripting:
            <A HREF="http://www.python.org/">Python</A>,
            <A HREF="http://www.scipy.org/">SciPy</A>,
            <A HREF="http://www.r-project.org/">R</A>
        </LI>
        <LI>Libraries:
            <A HREF="http://www.fftw.org/">FFTW</A>,
	        <A HREF="http://healpix.jpl.nasa.gov/">HEALPix</A>,
	        <A HREF="http://www.netlib.org/lapack/">LAPACK</A>
        </LI>
	    <LI>CMB tools:
	        <A HREF="http://www.cmbfast.org/">CMBFAST</A>,
	        <A HREF="http://camb.info/">CAMB</A>,
	        <A HREF="http://cosmologist.info/cosmomc/">CosmoMC</A>,
	        <A HREF="http://www.cmbeasy.org/">CMBEASY</A>
	    </LI>
	    <LI>Scientific data formats:
	        <A HREF="http://heasarc.gsfc.nasa.gov/docs/heasarc/fits.html">FITS</A>
	       (<A HREF="http://heasarc.gsfc.nasa.gov/docs/software/ftools/fv/">fv</A>,
	        <A HREF="http://hea-www.harvard.edu/RD/ds9/">DS9</A>),
	        <A HREF="http://www.hdfgroup.org/">HDF</A>
	    </LI>
	    <LI>Visualization:
	        <A HREF="http://www.llnl.gov/visit/">VisIt</A>,
	        <A HREF="http://www.vtk.org/">VTK</A>,
	        <A HREF="http://www.paraview.org/">ParaView</A>
	    </LI>
	    <LI>Computer algebra:
	        <A HREF="http://grtensor.phy.queensu.ca/">GRTensor II</A>
	    </LI>
    </UL>
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
