#def $Id$
#def title: <IMG SRC="images/title/cosmo.png" WIDTH="392" HEIGHT="36" BORDER="0" VSPACE="13" ALT="SFU Cosmology">
#def content
    
    <BLOCKQUOTE>
    <H2>Essential References</H2>
    
    <UL>
	    <LI><A HREF="http://www.arxiv.org/">arXiv.org e-Print archive</A></LI>
    	<LI><A HREF="http://www.slac.stanford.edu/spires/hep/">SPIRES High-Energy Physics Literature Database</A></LI>
	    <LI><A HREF="http://adsabs.harvard.edu/">The Smithsonian/NASA Astrophysics Data System</A></LI>
    </UL>
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
