#def $Id$
#def title: The Dark Energy Mug
#def content
    
    <DIV ALIGN="CENTER">
        <H2>SFU Cosmology is Proud to Present:<BR>The Dark Energy Mug</H2>
        <IMG SRC="images/mug.png" WIDTH="646" HEIGHT="208" BORDER="0" HSPACE="16" VSPACE="32" ALT="">
    </DIV>
    
#end def
#include 'layout.tmpl'
