#def $Id$
#def title: <IMG SRC="images/title/people.png" WIDTH="464" HEIGHT="37" BORDER="0" VSPACE="13" ALT="Cosmology People">
#def content
    
    <H2><A HREF="http://www.sfu.ca/~frolov">Andrei Frolov</A></H2>
    <H2><A HREF="http://www.sfu.ca/~levon">Levon Pogosian</A></H2>
    <H2><A HREF="http://www.sfu.ca/physics/faculty/trottier.html">Howard Trottier</A></H2>
    
#end def
#include 'layout.tmpl'
