#def $Id$
#attr $page = 'people'
#attr $trail = ['<a href="people.html">People</a>']
#attr $title = 'SFU Cosmology People'
#def content
    <BLOCKQUOTE>
    <H2 ALIGN=center>Faculty:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Interests</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/~frolov">Andrei Frolov</A></TH>
            <TD>CMB, reheating, early Universe</TD>
            <TD>Associate Professor</TD>
            <TD>frolov</TD>
            <TD>P8456</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/~levon">Levon Pogosian</A></TH>
            <TD>dark energy, cosmic strings, CMB</TD>
            <TD>Associate Professor</TD>
            <TD>levon</TD>
            <TD>P8464</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/faculty/trottier.html">Howard Trottier</A></TH>
            <TD>high energy physics</TD>
            <TD>Professor</TD>
            <TD>trottier</TD>
            <TD>P8437</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Graduate Students:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Supervisor</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH><A HREF="http://www.physics.sfu.ca/people/profiles/jga35">Jun-Qi Guo</A></TH>
            <TD>Andrei Frolov</TD>
            <TD>PhD</TD>
            <TD>jga35</TD>
            <TD>P9426</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.physics.sfu.ca/people/profiles/aha25">Alireza Hojjati</A></TH>
            <TD>Levon Pogosian</TD>
            <TD>PhD</TD>
            <TD>a_hojjati</TD>
            <TD>P8407</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.physics.sfu.ca/people/profile?id=354">Yun Li</A></TH>
            <TD>Levon Pogosian</TD>
            <TD>PhD</TD>
            <TD>yla289</TD>
            <TD>P9426</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.physics.sfu.ca/people/profile?id=288">Yang Liu</A></TH>
            <TD>Levon Pogosian</TD>
            <TD>MSc</TD>
            <TD>yla215</TD>
            <TD>P9426</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.physics.sfu.ca/people/profile?id=375">Aaron Plahn</A></TH>
            <TD>Levon Pogosian</TD>
            <TD>MSc</TD>
            <TD>aplahn</TD>
            <TD>P8481</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.physics.sfu.ca/people/profile?id=378">Shaojie Yin</A></TH>
            <TD>Andrei Frolov</TD>
            <TD>MSc</TD>
            <TD>sya9</TD>
            <TD>P8481</TD>
        </TR>
        <BR>
        <TR><TD COLSPAN="5" ALIGN="center"><FONT SIZE="-1"><A HREF="http://www.physics.sfu.ca/teaching/grad/info_for_applicants/application_process">we are looking for new students at MSc or PhD level starting 2013</A></FONT></TD></TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Undergrad Students:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Supervisor</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH>Starla Talbot</TH>
            <TD>Cosmology Group</TD>
            <TD>SFU Physics</TD>
            <TD>srt1</TD>
            <TD>P9426</TD>
        </TR>
        <TR>
            <TH>Thomas Wintschel</TH>
            <TD>Levon Pogosian</TD>
            <TD>Work Study</TD>
            <TD>thomas@portal.ca</TD>
            <TD>P9426</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <P ALIGN="center">[ <A HREF="alumni.html">SFU Cosmology Alumni: Where are they now?</A> ]</P>
#end def
#include 'layout.tmpl'
