#def $Id$
#def title: <IMG SRC="images/title/people.png" WIDTH="464" HEIGHT="37" BORDER="0" VSPACE="13" ALT="Cosmology People">
#def content
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Faculty:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Interests</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/~frolov">Andrei Frolov</A></TH>
            <TD>early Universe, black holes, extra dimensions</TD>
            <TD>Assistant Professor</TD>
            <TD>frolov</TD>
            <TD>P8456</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/~levon">Levon Pogosian</A></TH>
            <TD>dark energy, cosmic strings, CMB</TD>
            <TD>Assistant Professor</TD>
            <TD>levon</TD>
            <TD>P8464</TD>
        </TR>
        <TR>
            <TH><A HREF="http://www.sfu.ca/physics/faculty/trottier.html">Howard Trottier</A></TH>
            <TD>high energy physics</TD>
            <TD>Professor</TD>
            <TD>trottier</TD>
            <TD>P8437</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Postdocs:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Interests</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH>Aaron Berndsen</TH>
            <TD>brane gas cosmology, brane world scenarios</TD>
            <TD>NSERC PDF</TD>
            <TD>ajb10</TD>
            <TD>P9452</TD>
        </TR>
        <TR>
            <TH>Gong-Bo Zhao</TH>
            <TD>structure formation, dark energy tests</TD>
            <TD>PDF</TD>
            <TD>gongbo_zhao</TD>
            <TD>P9452</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Graduate Students:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Supervisor</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH>Alireza Hojjati</TH>
            <TD>Levon Pogosian</TD>
            <TD>PhD</TD>
            <TD>a_hojjati</TD>
            <TD>P8483</TD>
        </TR>
        <TR><TD COLSPAN="5" ALIGN="center"><FONT SIZE="-1">we are looking for one or two new students at MSc or PhD level starting 2008</FONT></TD></TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Undergrad Students:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Supervisor</TH>
            <TH WIDTH="20%" ALIGN="left">Position</TH>
            <TH WIDTH="10%" ALIGN="left">E-Mail</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH>Gwen Eadie</TH>
            <TD>Cosmology Group</TD>
            <TD>SFU Physics</TD>
            <TD>gme1</TD>
            <TD>...</TD>
        </TR>
        <TR>
            <TH>Jennifer Flood</TH>
            <TD>Levon Pogosian</TD>
            <TD>NSERC USRA</TD>
            <TD>jfa24</TD>
            <TD>IRMACS</TD>
        </TR>
        <TR>
            <TH>Cisco Gooding</TH>
            <TD>Andrei Frolov</TD>
            <TD>NSERC USRA</TD>
            <TD>dwg2</TD>
            <TD>P8487</TD>
        </TR>
        <TR>
            <TH>Joel Zylberberg</TH>
            <TD>Levon Pogosian</TD>
            <TD>SFU Physics</TD>
            <TD>jzylberb</TD>
            <TD>IRMACS</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN=center>Past Long-term Visitors:</H2>
    <TABLE WIDTH="100%">
        <TR>
            <TH WIDTH="20%">Name</TH>
            <TH WIDTH="40%" ALIGN="left">Affiliation</TH>
            <TH WIDTH="30%" ALIGN="left">Dates</TH>
            <TH WIDTH="10%" ALIGN="left">Office</TH>
        </TR>
        <TR>
            <TH>Amir Said</TH>
            <TD>PhD student, Tufts University</TD>
            <TD>2007-09-20 to 2007-11-30</TD>
            <TD>IRMACS</TD>
        </TR>
        <TR>
            <TH>Alessandra Silvestri</TH>
            <TD>PhD student, Syracuse University</TD>
            <TD>2007-10-03 to 2007-11-03</TD>
            <TD>IRMACS</TD>
        </TR>
    </TABLE>
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
