#def $Id$
#attr $page = 'preprints'
#attr $trail = ['<a href="preprints.html">Preprints</a>']
#attr $title = 'SFU Cosmology Preprints'
#def content
#import preprints
    
    <DL>
    #set y = None
    #for $p in $preprints.all
    #if $y != $p.year
        #set y = p.year
        <BR><H2 ALIGN="center">$p.year</H2>
    #end if
        <DT>$p.id</DT>
        <DD>$p.authors: <A HREF="http://www.arxiv.org/abs/$p.arxiv"><I>$p.title</I></A>.</DD>
    #end for
    </DL>
    
#end def
#include 'layout.tmpl'
