#def $Id$
#def title: <IMG SRC="images/title/research.png" WIDTH="535" HEIGHT="35" BORDER="0" VSPACE="14" ALT="Research Highlights">
#def content
    
    <P ALIGN="center">Recent publications by SFU Cosmology Group members are listed on <A HREF="preprints.html">Preprints Page</A>.</P>
    <HR>
    
    <BLOCKQUOTE>
    <H2 ALIGN="center">Simulating the Big Bang</H2>
    <IMG SRC="images/research/defrost.png" WIDTH="118" HEIGHT="117" BORDER="0" HSPACE="15" VSPACE="8" ALT="" ALIGN="right">
    
    The idea of inflation (a period of rapid quasi-exponential expansion of the
    Universe) neatly solves several issues in cosmology. While the Universe is
    inflating, its contents is cold. Eventually, inflation ends and the field
    driving the inflation decays, depositing energy into high-energy particles.
    This process, known as reheating, starts the hot big bang as we know it, and
    could allow a glimpse of physics at energies we know very little about.
    <B><A HREF="http://www.sfu.ca/~frolov/">Andrei Frolov</A></B> (SFU)
    is investigating how reheating have happened. In his work, he uses
    <A HREF="defrost/">3D computer simulations</A> to gain insight into field
    dynamics and provide quantitative predictions for different models.
    <BR CLEAR="right">
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN="center">Origins of Cosmic Acceleration</H2>
    <IMG SRC="images/research/DE.png" WIDTH="130" HEIGHT="100" BORDER="0" HSPACE="16" VSPACE="8" ALT="" ALIGN="left">
    
    The cosmic acceleration could be caused by some type of repulsive Dark
    Energy or be a manifestation of Gravity obeying different laws on largest
    scales. <B><A HREF="http://www.sfu.ca/~levon/">Levon Pogosian</A></B>
    (SFU) works on developing tests of Dark Energy that will maximally utilize
    the information contained in the data. He also studies some of the models of
    modified gravity with the focus on their predictions for the clustering of
    cosmic matter. Future telescopes will be able to track the evolution of
    clustering back in time. His research involves understanding the
    capabilities of planned and proposed observations and making detailed
    forecasts of the extent to which they will help us be distinguish between
    different theories.
    <BR CLEAR="left">
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN="center">Fundamental Physics from CMB</H2>
    <IMG SRC="images/research/BB.png" WIDTH="120" HEIGHT="120" BORDER="0" HSPACE="16" VSPACE="8" ALT="" ALIGN="right">
    
    The Cosmic Microwave Background (CMB) radiation is essentially a snapshot of
    our Universe at the age of 400,000 years and bears signatures of events that
    happened before and after the snapshot was taken.
    <B><A HREF="http://www.sfu.ca/~levon/">Levon Pogosian</A></B> (SFU)
    uses the CMB data to gain insight into the fundamental physics in the early
    and late universe. For example, looking for signatures of cosmic strings in
    the CMB can lead to constraints on Brane Inflation, which is a working example
    of how inflation can be realized within the framework of String Theory --
    a leading candidate for a fundamental theory of all particle interactions.
    <BR CLEAR="right">
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN="center">Gravitational Waves</H2>
    
    <IMG SRC="images/research/burst.png" WIDTH="140" HEIGHT="100" BORDER="0" HSPACE="16" VSPACE="8" ALT="" ALIGN="left">
    
    Gravitational waves are predicted by Einstein's General Relativity. When
    observed, they will open a totally new window into the Universe we live in.
    Emitted in violent astrophysical events, or perhaps generated in phase
    transitions in the early Universe, they can travel enormous distances through
    anything -- with no absorption or distortion of the signal carried.
    However, they are weak and extremely hard to detect.
    <B><A HREF="http://www.sfu.ca/~frolov/">Andrei Frolov</A></B> (SFU) works
    both on practical signal processing aspects of gravitational wave detectors
    (designing filters to optimize separation of signal from noise) and
    theoretical studies of possible gravitational wave sources.
    <BR CLEAR="left">
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN="center">Black Holes and Accretion Disks</H2>
    <IMG SRC="images/research/disk.png" WIDTH="120" HEIGHT="120" BORDER="0" HSPACE="16" VSPACE="8" ALT="" ALIGN="right">
    
    Black holes have gravitational pull so strong that even light cannot escape
    from within them. They are both most extreme and most simple objects in
    General Relativity, and are an interesting place to look for changes when one
    studies modified theories of gravity. While you cannot see black holes
    directly as no light is coming out, a lot of gravitational binding energy is
    released when matter falls into them, usually making them quite bright X-ray
    sources. Both spectral and timing observations of black holes are available,
    in particular in accreting X-ray binary systems which show luminosity
    modulation at a number of characteristic frequencies.
    <B><A HREF="http://www.sfu.ca/~frolov/">Andrei Frolov</A></B> (SFU)
    is interested in all aspects of black hole physics.
    <BR CLEAR="right">
    </BLOCKQUOTE>

    <BLOCKQUOTE>
    <H2 ALIGN="center">Topological Defects</H2>
    <IMG SRC="images/research/domain.png" WIDTH="120" HEIGHT="120" BORDER="0" HSPACE="16" VSPACE="8" ALT="" ALIGN="left">
    
    Topological defects, such as magnetic monopoles, cosmic strings and domain walls,
    are observed in condensed matter systems and may have been formed during phase
    transitions at the early stages in the history of the universe.
    <B><A HREF="http://www.sfu.ca/~levon/">Levon Pogosian</A></B> and
    <A HREF="http://www.phys.cwru.edu/faculty/?vachaspati">Tanmay Vachaspati</A>
    (<A HREF="http://www.phys.cwru.edu/">CWRU</A>) studied monopoles and domain walls,
    and their interactions, in the context of grad unified theories (GUTs).
    They have found novel types of domain wall solutions in systems which
    have a large continuous symmetry in addition to a broken discrete symmetry.
    What is remarkable about them is that the symmetry inside their cores is lower
    than that of the vacuum outside.
    <BR CLEAR="left">
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
