#def $Id$
#def title: <IMG SRC="images/title/research.png" WIDTH="535" HEIGHT="35" BORDER="0" VSPACE="14" ALT="Research Highlights">
#def content
    
    <P ALIGN="center">Recent publications by SFU Cosmology Group members are listed on <A HREF="preprints.html">Preprints Page</A>.</P>
    <HR>
    
    <BLOCKQUOTE>
    <H2 ALIGN="center">Origins of Cosmic Acceleration</H2>
    <IMG SRC="images/research/DE.png" WIDTH="130" HEIGHT="100" BORDER="0" HSPACE="16" VSPACE="8" ALT="" ALIGN="left">
    
    The cosmic acceleration could be caused by some type of repulsive Dark
    Energy or be a manifestation of Gravity obeying different laws on largest
    scales. <B><A HREF="http://www.sfu.ca/~levon/">Levon Pogosian</A></B>
    (SFU) works on developing tests of Dark Energy that will maximally utilize
    the information contained in the data. He also studies some of the models of
    modified gravity with the focus on their predictions for the clustering of
    cosmic matter. Future telescopes will be able to track the evolution of
    clustering back in time. His research involves understanding the
    capabilities of planned and proposed observations and making detailed
    forecasts of the extent to which they will help us be distinguish between
    different theories.
    <BR CLEAR="left">
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN="center">Fundamental Physics from CMB</H2>
    <IMG SRC="images/research/BB.png" WIDTH="120" HEIGHT="120" BORDER="0" HSPACE="16" VSPACE="8" ALT="" ALIGN="right">
    
    The Cosmic Microwave Background (CMB) radiation is essentially a snapshot of
    our Universe at the age of 400,000 years and bears signatures of events that
    happened before and after the snapshot was taken.
    <B><A HREF="http://www.sfu.ca/~levon/">Levon Pogosian</A></B> (SFU)
    uses the CMB data to gain insight into the fundamental physics in the early
    and late universe. For example, looking for signatures of cosmic strings in
    the CMB can lead to constraints on Brane Inflation, which is a working example
    of how inflation can be realized within the framework of String Theory --
    a leading candidate for a fundamental theory of all particle interactions.
    <BR CLEAR="right">
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN="center">Gravitational Waves</H2>
    
    <IMG SRC="images/research/burst.png" WIDTH="140" HEIGHT="100" BORDER="0" HSPACE="16" VSPACE="8" ALT="" ALIGN="left">
    
    In the context of gravitational wave burst searches, where the signal waveform
    is not known and matched filtering is not available, robustness of filter
    performance across a wide range of possible signal waveforms is of prime
    importance. <B><A HREF="http://www.sfu.ca/~frolov/">Andrei Frolov</A></B> (SFU)
    and <A HREF="http://www.ligo.caltech.edu/~psutton/">Patrick Sutton</A>
    (<A HREF="http://www.ligo.caltech.edu/">Caltech LIGO Laboratory</A>) are
    working on design and evaluation of linear finite impulse response filters
    for data analysis in gravitational wave interferometer detectors. They proposed
    generalized Savitzky-Golay filters for this application. In simulations, this
    type of filter exhibits superior detector signal/noise performance and timing
    accuracy over time-domain filters currently used in LIGO data analysis,
    and could result in improved detector sensitivity.
    <BR CLEAR="left">
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN="center">Black Holes and Accretion Disks</H2>
    <IMG SRC="images/research/disk.png" WIDTH="120" HEIGHT="120" BORDER="0" HSPACE="16" VSPACE="8" ALT="" ALIGN="right">
    
    Timing observations of accreting X-ray binary systems show luminosity
    modulation at a number of characteristic frequencies. There are several
    existing (and competing) explanations in the literature, associating the
    variability in black hole systems with processes in accretion disks. 
    <B><A HREF="http://www.sfu.ca/~frolov/">Andrei Frolov</A></B> (SFU) and
    <A HREF="http://www.stanford.edu/~mamin/">Mustafa Amin</A>
    (<A HREF="http://www-group.slac.stanford.edu/KIPAC/">KIPAC</A>/<A HREF="http://www.stanford.edu/">Stanford</A>)
    discovered a <A HREF="http://arxiv.org/abs/astro-ph/0603687">new characteristic frequency</A>
    dependent only on relativistic effects. Correct identification of
    characteristic frequencies is crucial if the observations are to be used to measure
    the black hole parameters and to probe the strong gravity region around a black hole.
    Further investigation of accretion disk models, including pressure and viscosity
    effects, and understanding the mechanism that transfers the modulation from the
    disk to corona, will help to achieve this goal.
    <BR CLEAR="right">
    </BLOCKQUOTE>

    <BLOCKQUOTE>
    <H2 ALIGN="center">Topological Defects</H2>
    <IMG SRC="images/research/domain.png" WIDTH="120" HEIGHT="120" BORDER="0" HSPACE="16" VSPACE="8" ALT="" ALIGN="left">
    
    Topological defects, such as magnetic monopoles, cosmic strings and domain walls,
    are observed in condensed matter systems and may have been formed during phase
    transitions at the early stages in the history of the universe.
    <B><A HREF="http://www.sfu.ca/~levon/">Levon Pogosian</A></B> and
    <A HREF="http://www.phys.cwru.edu/faculty/?vachaspati">Tanmay Vachaspati</A>
    (<A HREF="http://www.phys.cwru.edu/">CWRU</A>) studied monopoles and domain walls,
    and their interactions, in the context of grad unified theories (GUTs).
    They have found novel types of domain wall solutions in systems which
    have a large continuous symmetry in addition to a broken discrete symmetry.
    What is remarkable about them is that the symmetry inside their cores is lower
    than that of the vacuum outside.
    <BR CLEAR="left">
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
