#def $Id$
#def title: <IMG SRC="images/title/seminars.png" WIDTH="536" HEIGHT="37" BORDER="0" VSPACE="13" ALT="Cosmology Seminars">
#def content
#import seminars
    
    <P ALIGN="center">
    For seminars and other local announcements, please subscribe to
    <A HREF="MAILTO:sfu-cosmo-request@sfu.ca?subject=subscribe">sfu-cosmo mailing list</A>.
    </P>
    <HR>
    
    #if $seminars.next
        #set s = seminars.next
        <H3 ALIGN="center">Next Seminar:</H3>
    #else
        #set s = seminars.last
        <H3 ALIGN="center">Last Seminar:</H3>
    #end if    
    <H3 ALIGN="center">$s.date.strftime('%A, %-d %B %Y, %R') in room $s.place</H3>
    <BLOCKQUOTE>
        <H2>$s.speaker ($s.affiliation)</H2>
        <H3>$s.title</H3>
        
        $s.abstract
    </BLOCKQUOTE>
    
    <H3 ALIGN="center">Seminar Schedule:</H3>
    #if $seminars.future
    <BLOCKQUOTE>
    <H2 ALIGN="center">Upcoming Seminars:</H2>
    <TABLE>
        #for $s in $seminars.future
        <TR>
            <TD>$s.date.strftime('%F %R')</TD>
            <TD>$s.place</TD>
            <TD><B>$s.speaker ($s.affiliation):</B> $s.title</TD>
        </TR>
        
        #end for
    </TABLE>
    </BLOCKQUOTE>
    #end if
    
    #if $seminars.past
    <BLOCKQUOTE>
    <H2 ALIGN="center">Past Seminars:</H2>
    <TABLE>
        #for $s in $seminars.past
        <TR>
            <TD>$s.date.strftime('%F %R')</TD>
            <TD>$s.place</TD>
            <TD><B>$s.speaker ($s.affiliation):</B> $s.title</TD>
        </TR>
        
        #end for
    </TABLE>
    </BLOCKQUOTE>
    #end if
    
#end def
#include 'layout.tmpl'
