#def $Id$
#attr $root = '../'
#def title: <IMG SRC="${root}images/title/seminars.png" WIDTH="536" HEIGHT="37" BORDER="0" VSPACE="13" ALT="Cosmology Seminars">
#def content
#import seminars, os, dateutil.parser
    
    <P ALIGN="center">
    For seminars and other local announcements, please subscribe to
    <A HREF="MAILTO:sfu-cosmo-request@sfu.ca?subject=subscribe">sfu-cosmo mailing list</A>.
    </P>
    <HR>
    
    #set date = os.environ.get('SEMINAR')
    #if $date == 'index'
        #set l = [('Next Seminar:' if seminars.next else '<BR><P>Regular Seminars Will Resume in the Fall</P>', seminars.next)]
        #set date = seminars.today
    #else
        #set l = [('', seminars.on(date))]
        #set date = dateutil.parser.parse(date)
    #end if
    #for $label,$idx in $l
    <H3 ALIGN="center">$label</H3>
    #for $s in $idx    
    <H3 ALIGN="center">$s.date.strftime('%A, %-d %B %Y, %R') in room $s.place</H3>
    <BLOCKQUOTE>
        <H2>$s.prefix$s.speaker ($s.affiliation)</H2>
        <H3>$s.title</H3>
        
        $s.abstract
    </BLOCKQUOTE>
    
    #end for
    #end for
    
    <HR>
    #set year = seminars.ayear(date)
    #if $year == seminars.ayear(seminars.today)
        #set l = [('Upcoming Seminars:', seminars.future), ('Past Seminars:', seminars.past)]
    #else
        #set l = [('Seminars in '+str(year)+':', seminars.year(year))]
    #end if
    #for $label,$idx in $l
    #if $idx
    <BLOCKQUOTE>
    <H2 ALIGN="center">$label</H2>
    <TABLE CLASS="index">
        #for $s in $idx
        <TR>
            <TD>$s.date.strftime('%F %R') in&nbsp;$s.place</TD>
            <TD>- <A HREF="${s.date.strftime('%F')}.html"><B>$s.speaker ($s.affiliation):</B> $s.title</A></TD>
        </TR>
        
        #end for
    </TABLE>
    </BLOCKQUOTE>
    #end if
    #end for
    
    <P ALIGN="center">[ <A HREF="arxives.html">See complete seminar archives</A> ]</P>
    
#end def
#include 'layout.tmpl'
