#def $Id$
#def title: Visitor Information
#def content
    
    <H2>Getting to SFU Physics Department (In Three Easy Steps)</H2>
    <H3>1. Fly to <A HREF="http://www.yvr.ca/">Vancouver International Airport (YVR)</A></H3>
    <IMG SRC="images/canada.jpg" WIDTH="784" HEIGHT="495" BORDER="0" HSPACE="1" ALT="Get Yourself to Vancouver">
    <P></P>
    
    <H3>2. Climb the Burnaby Mountain</H3>
    <A HREF="http://www.sfu.ca/conference-accommodation/directions.html"><IMG SRC="images/burnaby.png" WIDTH="787" HEIGHT="458" BORDER="0" ALT="Go Up the Mountain"></A>
    <P>Click on the map for directions.</P>
    
    <H3>3. Find the Physics Department</H3>
    <A HREF="http://www.sfu.ca/about/maps.html"><IMG SRC="images/campus.png" WIDTH="614" HEIGHT="453" BORDER="0" HSPACE="24" ALT="Find the Physics Department"></A>
    <P>Homotopy group of our building is quite large, and can be calculated from <A HREF="http://www.sfu.ca/FacilitiesManagement/campus/pdf_maps/sfu_campus_map_2k06_01.pdf">detailed campus map</A>.</P>
    <P>We are located in the Shrum Science P Building (SC-P), on Level 8000, near the Physics Office (P8429).</P>
    
    <H2>Accomodations</H2>
    
    <P>Accomodations are available on campus in the <A HREF="http://www.sfu.ca/conference-accommodation/simon.html">Simon Hotel</A>.</P>
    <P>If you prefer to stay in Downtown Vancouver, we recommend the <A HREF="http://www.sylviahotel.com/">Sylvia Hotel</A>.</P>
    <P><A HREF="http://www.translink.bc.ca/">Public transit</A> in Vancouver is quite fast, and could be an alternative to car rental.</P>
    
    <H2>Weather</H2>
    
    <P>Current forecast from <A HREF="http://www.weatheroffice.ec.gc.ca/city/pages/bc-74_metric_e.html">Environment Canada</A>.</P>
    <P>If you are coming during the rainy season, bring an umbrella.</P>
    
#end def
#include 'layout.tmpl'
