#attr $page = 'visitors'
#attr $trail = ['<a href="visitors.html">Visitor Info</a>']
#attr $title = 'Information for SFU Cosmology Visitors' 
#def content
    <BLOCKQUOTE>
    <H2>Getting to SFU Physics Department (In Three Easy Steps)</H2>
    <H3>1. Fly to <A HREF="http://www.yvr.ca/">Vancouver International Airport (YVR)</A></H3>
    <IMG SRC="images/canada.jpg" WIDTH="744" HEIGHT="495" BORDER="0" HSPACE="0" ALT="Get Yourself to Vancouver">
    <P></P>
    
    <H3>2. Climb the Burnaby Mountain</H3>
    <A HREF="http://www.sfu.ca/content/sfu/main/campuses/maps-and-directions/burnaby-map.html"><IMG SRC="images/burnaby.png" WIDTH="744" HEIGHT="458" BORDER="0" ALT="Go Up the Mountain"></A>
    <P>Click on the map for directions, or <A HREF="http://maps.google.ca/maps?f=d&source=s_d&saddr=YVR&daddr=8888+University+Drive,+Burnaby,+BC+V5A+1S6+(Simon+Fraser+University)&geocode=FVKi7gIdtmeo-Cmt2aHtNguGVDEeVxHxxMHxzA%3BFVLt7wIdxHes-CFbtTBuP2xQAA&hl=en&mra=ls&sll=49.236795,-123.042405&sspn=0.175971,0.290794&ie=UTF8&z=12">ask Google</A>.</P>
    
    <H3>3. Find the Physics Department</H3>
    <A HREF="http://www.sfu.ca/fs/files/Campus_Profile/Campus_Maps/SFU_2009_Aerial.jpg"><IMG SRC="images/campus.jpg" WIDTH="744" HEIGHT="415" BORDER="0" HSPACE="0" ALT="Find the Physics Department"></A>
    <P>Homotopy group of our building is quite large, and can be calculated from <A HREF="http://www.sfu.ca/fs/files/Campus_Profile/Campus_Maps/sfu_campus_map_2013_14x8_handout_color.pdf">detailed campus map</A>.</P>
    <P>We are located in the Shrum Science P Building (SC-P), on Level 8000, near the Physics Office (P8429).</P>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2>Accomodations</H2>
    
    <P>Accomodations are available on campus in the <A HREF="http://www.sfu.ca/conference-accommodation/accommodations/simonhotel.html">Simon Hotel</A>.</P>
    <P><A HREF="http://www.parkinn.com/hotel-vancouverca/hotel-deals/vancouverca/uni">Park Inn &amp; Suites</A> is centrally located with transit links to SFU, UBC, and airport.</P>
    <P>If you prefer to stay in Downtown Vancouver, we recommend the <A HREF="http://www.sylviahotel.com/">Sylvia Hotel</A>.</P>
    <P><A HREF="http://www.translink.bc.ca/">Public transit</A> in Vancouver is quite fast, and could be an alternative to car rental.</P>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2>Weather</H2>
    
    <P>Live view from Convocation Mall webcam:<BR>
    <A HREF="http://www.sfu.ca/itservices/technical/webcams.html"><IMG SRC="http://www.sfu.ca/~netops/webcams/mallcam.jpg" WIDTH="320" HEIGHT="240" BORDER="0" ALT="Convocation Mall Webcam"></A>
    <P>Current forecast from <A HREF="http://www.weatheroffice.ec.gc.ca/city/pages/bc-74_metric_e.html">Environment Canada</A>.</P>
    <P>If you are coming during the rainy season, bring an umbrella.</P>
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
