#import datetime, seminars, os.path
#set $mtime = os.path.getmtime("webcal.tmpl")
#set $mtime = datetime.datetime.fromtimestamp(mtime)
#set $today = datetime.datetime.today()
#set $duration = datetime.timedelta(hours=1)
BEGIN:VCALENDAR
X-WR-CALNAME:SFU Cosmology Seminars
X-WR-CALDESC:SFU Cosmology Seminars
X-WR-TIMEZONE:America/Vancouver
PRODID:-//sfu-cosmo@sfu.ca//NONSGML v1.0//EN
VERSION:2.0
#for $s in seminars.all
#set $start = s.date
#set $end = s.date + duration
#set $stamp = today if s.date > today else (mtime if s.date < mtime else s.date)
BEGIN:VEVENT
SUMMARY:Cosmo Seminar
ORGANIZER;CN=Andrei Frolov:MAILTO:frolov@sfu.ca
DTSTAMP;TZID=America/Vancouver:$stamp.strftime('%Y%m%dT%H%M%S')
DTSTART;TZID=America/Vancouver:$start.strftime('%Y%m%dT%H%M%S')
DTEND;TZID=America/Vancouver:$end.strftime('%Y%m%dT%H%M%S')
LOCATION:$s.place
DESCRIPTION:$s.speaker ($s.affiliation): $s.title
BEGIN:VALARM
TRIGGER:-PT15M
ACTION:DISPLAY
END:VALARM
END:VEVENT
#end for
END:VCALENDAR
