#def $Id$
#attr $root = '../'
#def title: <IMG SRC="${root}images/title/defrost.png" WIDTH="198" HEIGHT="35" BORDER="0" VSPACE="14" ALT="DEFROST">
#def content
    
    <BLOCKQUOTE>
    <H2>Simulating the Big Bang</H2>
    <TABLE><TR>
    <TD WIDTH="100%">
        DEFROST is a numerical code for simulating preheating of the Universe after the end of the inflation.
        It is small, easy to modify, very fast, and fully instrumented for 3D visualizations.
        DEFROST was written by <A HREF="http://www.sfu.ca/~frolov">Andrei Frolov</A> for his early Universe research.
        The <A HREF="release/defrost-1.1.tar.gz">source code</A> is published and distributed under the terms of
        <A HREF="http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt">GNU Public License</A>.
        
        <BR><BR>
        If you use DEFROST in your research, please cite
        <A HREF="http://arxiv.org/abs/0809.4904">arXiv:0809.4904</A>
        (the preprint describing DEFROST internals and presenting simulations of chaotic preheating).
    </TD>
    <TD><A HREF="volume.jpg"><IMG SRC="volume-tn.jpg" WIDTH="100" HEIGHT="100" BORDER="0" HSPACE="32" ALT="Cosmic Bubbles" ALIGN="right"></A></TD>
    </TR></TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2>Download</H2>
    <UL>
        <LI>DEFROST v1.1: [
            <A HREF="release/defrost-1.1.tar.gz">source code</A> |
            <A HREF="README">README</A> |
            <A HREF="http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt">GNU Public License</A> ]
        </LI>
        <LI>Silo library: [
            <A HREF="silo/silo060605.sh">source code</A> |
            <A HREF="silo/README">build notes</A> |
            <A HREF="silo/silo-config.patch">config patch</A> |
            <A HREF="silo/silo060605-FC7-x86_64.tar.gz">FC7 x86-64 binary</A> |
            <A HREF="silo/silo060605-FC9-i386.tar.gz">FC9 i386 binary</A> ]
        </LI>
        <LI>Dependencies: [
            <A HREF="http://www.fftw.org/">FFTW</A> (required) |
            <A HREF="http://www.hdfgroup.org/HDF5/release/obtain5.html">HDF5</A> (optional) |
            <A HREF="http://www.llnl.gov/visit/">LLNL VisIt</A> (visualization) ]
        </LI>
        <P>
        <LI><FONT SIZE="-1">Movies below are encoded using H.264/MPEG-4 AVC. If your player cannot handle it, use one of these:</FONT><BR>[
            <A HREF="http://cccp-project.net/">CCCP (Windows)</A> |
            <A HREF="http://www.mplayerhq.hu/">MPlayer (All Platforms)</A> |
            <A HREF="http://www.videolan.org/vlc/">VLC (All Platforms)</A> |
            <A HREF="http://www.videolan.org/developers/x264.html">x264 Codec</A> |
            <A HREF="mencoder.conf">Mencoder presets</A> ]
        </LI>
    </UL>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2>Cool Movie of the Month</H2>
    
    <TABLE ALIGN="center">
    <TR><TD ALIGN="center"><A HREF="M2G22/">[ What's This? ]</A></TD></TR>
    <TR><TH WIDTH="100">3D volume render: Density &rho;</TH></TR>
    <TR><TD ALIGN="center"><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/3xySN-gcbxg&hl=en&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/3xySN-gcbxg&hl=en&fs=1&rel=0" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></TD></TR>
    <TR><TD ALIGN="center"><A HREF="M2G22/volume-rho.avi">High quality 960x720 movie in H.264/MPEG-4 AVC (8Mb)</A></TD></TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2>Preheating Models</H2>
    
    <UL>
      <LI>Chaotic Inflation: <A HREF="M2G22/">V(&phi;,&psi;) = &frac12; m&sup2; &phi;&sup2; + &frac12; g&sup2; &phi;&sup2; &psi;&sup2;</A></LI>
      <LI>Chaotic Inflation: <A HREF="M2S12L4/">V(&phi;,&psi;) = &frac12; m&sup2; &phi;&sup2; + &frac12; &sigma; &phi; &psi;&sup2; + &frac14; &lambda; &psi;&#x2074;</A></LI>
    </UL>
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
