#def $Id$
#attr $root = '../'
#def title: <IMG SRC="${root}images/title/defrost.png" WIDTH="198" HEIGHT="35" BORDER="0" VSPACE="14" ALT="DEFROST">
#def content
    
    <BLOCKQUOTE>
    <H2>Simulating the Big Bang</H2>
    <TABLE><TR>
    <TD WIDTH="100%">
        DEFROST is a numerical code for simulating reheating of the Universe after the end of the inflation.
        It is small, easy to modify, very fast, and fully instrumented for 3D visualizations.
        DEFROST was written by <A HREF="http://www.sfu.ca/~frolov">Andrei Frolov</A> for his early Universe research.
        The <A HREF="release/defrost-1.0.tar.gz">source code</A> is published and distributed under the terms of
        <A HREF="http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt">GNU Public License</A>.
        
        <BR><BR>
        If you use DEFROST in your research, please cite hep-../...
    </TD>
    <TD><A HREF="volume.jpg"><IMG SRC="volume-tn.jpg" WIDTH="100" HEIGHT="100" BORDER="0" HSPACE="32" ALT="Cosmic Bubbles" ALIGN="right"></A></TD>
    </TR></TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2>Download</H2>
    <UL>
        <LI>DEFROST v1.0: [
            <A HREF="release/defrost-1.0.tar.gz">source code</A> |
            <A HREF="README">README</A> |
            <A HREF="http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt">GNU Public License</A> ]
        </LI>
        <LI>Silo library: [
            <A HREF="silo/silo060605.sh">source code</A> |
            <A HREF="silo/README">build notes</A> |
            <A HREF="silo/silo-config.patch">config patch</A> |
            <A HREF="silo/silo060605-FC7-x86_64.tar.gz">FC7 x86-64 binary</A> ]
        </LI>
        <LI>Dependencies: [
            <A HREF="http://www.fftw.org/">FFTW</A> (required) |
            <A HREF="http://www.hdfgroup.org/HDF5/release/obtain5.html">HDF5</A> (optional) |
            <A HREF="http://www.llnl.gov/visit/">LLNL VisIt</A> (visualization) ]
        </LI>
        <P>
        <LI>Movies: [
            <A HREF="http://cccp-project.net/">CCCP (Windows)</A> |
            <A HREF="http://www.mplayerhq.hu/">MPlayer (All Platforms)</A> |
            <A HREF="http://www.videolan.org/vlc/">VLC (All Platforms)</A> |
            <A HREF="http://www.videolan.org/developers/x264.html">x264 Codec</A> |
            <A HREF="mencoder.conf">Mencoder presets</A> ]
        </LI>
    </UL>

    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2 ALIGN="center">Chaotic Inflation: V(&phi;,&psi;) = &frac12; m&sup2; &phi;&sup2; + &frac12; g&sup2; &phi;&sup2; &psi;&sup2;</H2>
    
    <TABLE ALIGN="center">
    <TR>
    	<TH WIDTH="100">Inflaton &phi;</TH>
    	<TH WIDTH="100">Field &psi;</TH>
    	<TH WIDTH="100">Density &rho;</TH>
    	<TH WIDTH="100">Pressure p</TH>
    	<TH WIDTH="100">Potential &Psi;</TH>
    </TR>
    <TR>
    	<TD ALIGN="center"><A HREF="chaotic/slice-phi.avi"><IMG SRC="chaotic/slice-phi.png" WIDTH="100" HEIGHT="100" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="chaotic/slice-psi.avi"><IMG SRC="chaotic/slice-psi.png" WIDTH="100" HEIGHT="100" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="chaotic/slice-rho.avi"><IMG SRC="chaotic/slice-rho.png" WIDTH="100" HEIGHT="100" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="chaotic/slice-prs.avi"><IMG SRC="chaotic/slice-prs.png" WIDTH="100" HEIGHT="100" BORDER="0" ALT=""></A></TD>
    	<TD ALIGN="center"><A HREF="chaotic/slice-PSI.avi"><IMG SRC="chaotic/slice-PSI.png" WIDTH="100" HEIGHT="100" BORDER="0" ALT=""></A></TD>
    </TR>
    </TABLE>
    
    <P ALIGN="center">[
    <A HREF="chaotic/LOG.gz">Expansion history</A> |
    <A HREF="chaotic/CDF.gz">Field distributions</A> |
    <A HREF="chaotic/PSD.gz">Field spectra</A> ]
    </P>
    </BLOCKQUOTE>
    
#end def
#include 'layout.tmpl'
