#def $Id$
#attr $root = '../'
#attr $page = 'research/defrost'
#attr $trail = ['<a href="../research.html">Research</a>', '<a href="index.html">DEFROST</a>']
#attr $title = 'DEFROST: A Code for Simulating the Big Bang'
#def content
    
    <BLOCKQUOTE>
    <H2>Simulating the Big Bang</H2>
    <TABLE><TR>
    <TD WIDTH="100%">
        DEFROST is a numerical code for simulating preheating of the Universe after the end of the inflation.
        It is small, easy to modify, very fast, and fully instrumented for 3D visualizations.
        DEFROST was written by <A HREF="http://www.sfu.ca/~frolov">Andrei Frolov</A> for his early Universe research.
        The <A HREF="release/defrost-2.0.tar.gz">source code</A> is published and distributed under the terms of
        <A HREF="http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt">GNU Public License</A>.
        
        <BR><BR>
        If you use DEFROST in your research, please cite
        <A HREF="http://arxiv.org/abs/0809.4904">arXiv:0809.4904</A>
        (the preprint describing DEFROST internals and presenting simulations of chaotic preheating).
    </TD>
    <TD><A HREF="volume.jpg"><IMG SRC="volume-tn.jpg" WIDTH="100" HEIGHT="100" BORDER="0" HSPACE="32" ALT="Cosmic Bubbles" ALIGN="right"></A></TD>
    </TR></TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2>Download</H2>
    <UL>
        <LI>DEFROST v2.0: [
            <A HREF="release/defrost-2.0.tar.gz">source code</A> |
            <A HREF="README.html">README</A> |
            <A HREF="http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt">GNU Public License</A> ]
            (<FONT COLOR="red">symplectic!</FONT>)
        </LI>
        <LI>Dependencies: [
            <A HREF="http://www.fftw.org/">FFTW</A> (required) |
            <A HREF="http://www.hdfgroup.org/HDF5/release/obtain5.html">HDF5</A> &amp;
            <A HREF="https://wci.llnl.gov/codes/silo/">SILO</A> (optional) |
            <A HREF="http://www.llnl.gov/visit/">LLNL VisIt</A> (visualization) ]
        </LI>
        <LI>(old) Silo library: [
            <A HREF="silo/silo060605.sh">source code</A> |
            <A HREF="silo/README.html">build notes</A> |
            <A HREF="silo/silo-config.patch">config patch</A> |
            <A HREF="silo/silo060605-FC7-x86_64.tar.gz">FC7 x86-64 binary</A> |
            <A HREF="silo/silo060605-FC9-i386.tar.gz">FC9 i386 binary</A> ]
        </LI>
        <P>
        <LI><FONT SIZE="-1">Movies below are encoded using H.264/MPEG-4 AVC. If your player cannot handle it, use one of these:</FONT><BR>[
            <A HREF="http://cccp-project.net/">CCCP (Windows)</A> |
            <A HREF="http://perian.org/">Perian (MacOS)</A> |
            <A HREF="http://www.mplayerhq.hu/">MPlayer (All Platforms)</A> |
            <A HREF="http://www.videolan.org/vlc/">VLC (All Platforms)</A> ]
        <LI><FONT SIZE="-1">Making your own movies?</FONT> [
            <A HREF="http://www.mplayerhq.hu/">MPlayer/Mencoder</A> |
            <A HREF="http://www.videolan.org/developers/x264.html">x264 Codec</A> |
            <A HREF="mencoder.conf">Mencoder presets</A> ]
        </LI>
    </UL>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2>Cool Movie of the Month</H2>
    
    <TABLE ALIGN="center">
    <TR><TD ALIGN="center"><A HREF="M2G22/">[ What's This? ]</A></TD></TR>
    <TR><TH WIDTH="100">3D volume render: Density &rho;</TH></TR>
    <TR><TD ALIGN="center"><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/3xySN-gcbxg&hl=en&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/3xySN-gcbxg&hl=en&fs=1&rel=0" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></TD></TR>
    <TR><TD ALIGN="center"><A HREF="M2G22/volume-rho.avi">High quality 960x720 movie in H.264/MPEG-4 AVC (8Mb)</A></TD></TR>
    </TABLE>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2>Preheating Models</H2>
    
    <UL>
      <LI>Chaotic Inflation: <A HREF="M2G22/">V(&phi;,&psi;) = &frac12; m&sup2; &phi;&sup2; + &frac12; g&sup2; &phi;&sup2; &psi;&sup2;</A></LI>
      <LI>Chaotic Inflation: <A HREF="M2S12L4/">V(&phi;,&psi;) = &frac12; m&sup2; &phi;&sup2; + &frac12; &sigma; &phi; &psi;&sup2; + &frac14; &lambda; &psi;&#x2074;</A></LI>
    </UL>
    </BLOCKQUOTE>
    
    <BLOCKQUOTE>
    <H2>More Preheating Codes</H2>
    
    <UL>
      <LI><A HREF="http://www.science.smith.edu/departments/Physics/fstaff/gfelder/latticeeasy/index.html">LATTICEEASY</A> by Gary Felder and Igor Tkachev: <A HREF="http://arxiv.org/abs/hep-ph/0011159">hep-ph/0011159</A>, <A HREF="http://arxiv.org/abs/0712.0813">arXiv:0712.0813</A> (MPI version)</LI>
      <LI><A HREF="http://www.physics.utu.fi/tiedostot/theory/particlecosmology/cudaeasy/">CUDAEASY</A> by Jani Sainio: <A HREF="http://arxiv.org/abs/0911.5692">arXiv:0911.5692</A> (GPU accellerated!)</LI>
      <LI><A HREF="http://easther.physics.yale.edu/Richard_Easther/Download_PSpectRe.html">PSpectRe</A> by Richard Easther, Hal Finkel, and Nathaniel Roth: <A HREF="http://arxiv.org/abs/1005.1921">arXiv:1005.1921</A> (spectral code)</LI>
      <LI><A HREF="http://www.cita.utoronto.ca/~zqhuang/hlat/">HLATTICE</A> by Zhiqi Huang: <A HREF="http://arxiv.org/abs/1102.0227">arXiv:1102.0227</A> (symplectic/Runge-Kutta hybrid integrator, non-minimal coupling)</LI>
      <LI><A HREF="http://www.physics.utu.fi/tiedostot/theory/particlecosmology/pycool/">PyCOOL</A> by Jani Sainio: <A HREF="http://arxiv.org/abs/1201.5029">arXiv:1201.5029</A> (symplectic integrator, GPU accellerated with CUDA, very cool!)</LI>
</UL>
    </BLOCKQUOTE>
#end def
#include 'layout.tmpl'
